{% extends "travel_base.html" %}

{% block content %}
<div class="costa_rica2 travel-article parallax">
    <div class="caption">
        <span class="border">SAN JOSE</span>
    </div>
</div>
<div class="para-tex">
    <p>In every city, in every town, in every country, there is a spot where young, attractive, rich millennials gather
        to talk about the social issues of the day and to be young, rich and attractive together. In San Jose, this
        place is called Escalante.
    </p>
    <p>This was the first place I did not feel an overbearing sense that Adam, a friend of mine who I was traveling
        with, and I were so clearly tourists in a foreign country. On the streets of San Jose, we are walking dollars.
        On the tours, we are fixed on guard rails, shuttled from stop to stop to take pictures and hear canned quotes
        and facts. In Escalante, we are guests with ambivalent hosts. No one particularly cared that we were there
        either way. I liked that. </p>
    <p>San Jose is not a particularly impressive city. Its population is only 300,000. The buildings are short and
        usually made from plaster and sheet metal and sit alongside the occasional Spanish Colonial building. Costa Rica
        was not a particularly important Spanish colony nor densely inhabited in Precolombian times, so everything is
        relatively new, probably 20th century or so. </p>
    <p>There is the occasional sky scrapper or indistinct brutalist tower, but for the most part its a sea of stucco and
        crinkled red sheet metal. The streets are somewhat hilly and laid out in a grid. The entire downtown, which is
        walkable end to end, is encased in lush green mountains. </p>
    <p> We stayed at Hotel San Tomas, whose owner was, you guessed it, named Thomas. He was an American expat who had
        moved down to Costa Rica after buying an old mansion and renovating it into a hotel. The building was Spanish
        colonial with white stucco walls and a crinkled corrugated metal roof. The inside had high ceilings, hardwood
        floors, and antique furniture. Each morning Thomas' wife would make a homemade breakfast of rice, beans,
        plantains, and eggs, which you could eat out on the enclosed court yard at the center of the hotel. He really
        captured that colonial-coffee-baron-eating-breakfast-in-his-mansion aesthetic.
    </p>
    <p>The main attraction of the city is the National Theatre of Costa Rica, an old baroque structure sitting in the
        city's Plaza de La Cultura. With its gold trim and marble statues of Beethoven and Chapin, it feels a bit out of
        place, like someone dropped a bit of Milan into the jungle. But to spend all your time just in San Jose would be
        a mistake. The real attractions are out in the mountains, in the cloud forests, volcanoes, and hotsprings. </p>
</div>

<div class="costa_rica travel-article parallax">
    <div class="caption">
        <span class="border">CLOUD FORESTS & VOLCANOS</span>
    </div>
</div>
<div class="para-tex">

    <p><strong>Irazu</strong></p>
    <p>Driving up through Cartago, Costa Rica&#39;s old capital, on the way to the craters of Irazu, you can see that
        the countryside here is covered in a patchwork quilt of onion and potato farms, with some dairy farms mixed in
        for good measure. One of my favorite sights, besides, of course, the white slivers of cloud floating around and
        cloaking the peaks, were the cows sitting alongside the road, their lazy eyes barely raising as bus drove
        probably no more than a foot past them.</p>
    <p>Cows must be the bare minimum of current multicelluar life. The most eventful part of their day must be when they
        transition from sitting to standing and vice versa. Though I have read that they have best friends, so I suppose
        that it is a wash.</p>
    <p>As we drove, a large white building complex with red tile roof shifted in and out of the thin white mist that
        settles in the mountains there. Our tour guide told us nonchalantly that it was Duran Sanatorium, an old
        hospital where patients with tuberculous were kept in isolation at the turn of the twentieth century. It felt
        somewhat intimidating seeing the buildings come in and out of view as we drove up the mountain, more so upon
        hearing that it has long since been abandoned. Less so, once I learned that you can pay 1,200 colons to walk
        around inside. </p>
    <p>The top of Irazu is quite variable for sight seeing. Some days, you can see both the Caribbean and the Pacific,
        other days it is too foggy and rainy to see even a few feet ahead of you and in the rainy season, it tends
        toward the latter. </p>
    <p>But we were lucky that day and landed somewhere in the middle. While I did not see oceans, I saw endless fields
        of clouds with mountain peeking through. </p>
    <p><strong>San Luis Cloud Forest</strong></p>
    <p>A cloud forest is exactly what it sounds like-- a forest in the clouds as so high up in the mountains. What this
        means in practice is that it is misty and wet but not too hot. A lot of the succulents and plants in my
        apartment are from this region and should be living in this climate, which makes me question how they all
        haven&#39;t died yet, as my room is almost never blanketed with a heavy fog.</p>
    <p>The tour guide more or less had a good hand on the English language but would occasionally pepper the
        conversation with interesting stop words when he did not know the correct English phrase. Dairy farms were milky
        farms for example. He liked the tourists and did not like the unions--which is a feeling shared by every tour
        guide that we came across. </p>
    <p>We met two Argentines, a man and a woman, who came to San Luis to zipline, at a shared lunch after the cloud
        forest. I asked if they were married. They quickly corrected me and told me that they were just friends. I have
        a feeling that they have been asked this before.</p>
    <p><strong>Arenal Volcano</strong></p>
    <p>The next day, Adam and I went to Arenal Volcano. This is supposed to be <em>the</em> spot for tourism in Costa
        Rica. You will not find a promotional brochure without this volcano on the front cover.</p>
    <p>From San Jose, it is a three hour ride to Arenal. Our shuttle was not comfortable. The seats had this mystical
        quality of being clean, full of stuffing and yet still unbearably uncomfortable. </p>
    <p>Before we arrived, the tour guide told us that there are certain things that are out of his control--the animals
        might not show, the traffic could be bad (a road was closed which had added an hour to the trip), and the
        weather doesn&#39;t always cooperate--especially in the rainy season.</p>
    <p>It was in fact the rainy season when we were there, and our guide was mentioning this for a reason. Upon
        disembarking from the the bus, we hiked up a gentle sloop to take pictures of a volcano obscured completely by a
        heavy cloud. </p>
    <p>In truth, this was fine. There was something inherently funny about a large group of people standing on a
        platform holding cameras, trying to find the best angle to take a picture of a cloudy sky. </p>
    <p>Notice how fully this cloud covers an entire mountain. This was a very impressive cloud. I am fortunate to have a
        picture with it. We were also given walking sticks to hike up a paved path no more steep than a American
        driveway.</p>
    <p>While we were looking at the clouds, a brilliant blue bird started squawking in a nearby tree. Desperate for a
        good picture, a small crowd surrounded the tree and gingerly took pictures of the bird, carefully to not disturb
        it, lest such a wonderful and rare creature flutter away. The tour guide walked over and informed us that we are
        looking at an &quot;amazing migratory bird--a blue jay.&quot; </p>
    <p>I got maybe six or seven pictures of the blue jay. That was the height of my ecotourism. </p>
</div>
{% endblock %}