{% extends "travel_base.html" %}

{% block content %}

<div class="france_street2 travel-article parallax">
    <div class="caption">
        <span class="border">A STREET</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">A</span>n anatomical description of a Parisian street. Start at the base, the street itself. It is usually cobblestone or patchy asphalt, reflecting years of use. The sidewalks scale with the roadways&mdash;wide enough for outdoor seating on main thoroughfares down to single file on ancient narrow streets, which is quite often the cause of pedestrians ignoring the distinction and walking in the roadway. </p>
    <p>Parisian buildings have a uniform. White cut stone, three to six stories high, with blue mansard roofs, often with dormer windows peaking out. Blocks and blocks of them fanning out in orderly boulevards and winding alleys from the city center out to the ring road. But within this uniformity still exists variation. There is wrought iron balconies, white shutters, hanging window gardens, ornamental moldings, and carved figures, peaking out from centuries past. The colors and height provide consistency, and the detailing provides differentiation. </p>
    <p>Within each building, the top five stories house people, and the bottom floor houses business. Art galleries, cafes, and boulangeries line the streetscape. Cafe seating usually faces out into the street instead of towards each other as between the passersby and the buildings themselves there is always something to look at. </p>
    <p>The sidewalks pulse with people rushing to work, to cafes, to the metro, to home. And each cafe table collects passing men and women who stop at them to rest, dressed in fine long sleeves&mdash;even in the dead of summer&mdash;their hands pinching cigarettes, as they sip their wine or coffee.</p>
    <p>Underneath the cut stone buildings and cobblestone streets lies the nerves of the whole thing, the metro system. Wrought iron entrances lead just below street level where miles and miles of intersecting tunnels shoot speeding trains across the city. Some stations feel new, some feel old. Some of the train cars lack air-conditioning, instead relying on open windows, and some are completely automated, their lines offering less than two minute headways between trains.</p>
    <p>You can be from the edges of the city to its center in under thirty minutes, where you will find sprawling palaces and museums, parks and plazas, and the Seine snaking through the center.    </p>
    
</div>
<div class="rain travel-article parallax">
    <div class="caption">
        <span class="border">RAIN</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>t was a rainy Wednesday morning a little before 7 am. Shallow pools of water reflected on the Trocadero. In a rather unnatural state of affairs, there was more pigeons patrolling the plaza than people. It&#39;s a rare sight to see the Eiffel Tower unimpeded by passersby.</p>
    <p>I scrambled along the slick surface, hoping to snap a picture before our bus left for the Normandy coast. The overcast sky hummed a grayish pink with spots of blue peaking out between the clouds. </p>
    <p>The Eiffel tower was back lit with its slender frame casting a serene silhouette in the dim morning light. A reflection formed on the plaza like it would on a pond.</p>
    <p>I snapped a picture and slid my way back across the marble plaza onto the rough concrete sidewalk. I have never been much of a morning person. </p>    
</div>

<div class="saint travel-article parallax">
    <div class="caption">
        <span class="border">SAINT MICHAEL</span>
    </div>
</div>
<div class="para-tex">
<p><span class="firstcharacter">Y</span>ou watched the city center turn to suburbs, then to farmhouses, then to nothing at all. You are at the coast now. You exit the bus and begin to walk. The rain mists around you, the wind blows as you walk along a plank board walk. Millions of people take these very steps as a divine pilgrimage to a most holy site. </p>
<p>You see it form in the distance&mdash;a city on a hill, built atop of a massive hunk of granite, completely enclosed by sand and water! You walk a mile further across a single bridge that spans the bay separating the tidal island from the shore. The tide is in and water dances with the drizzle of rain. </p>
<p>Across the way, you see weathered white granite walls enclose blue roofs and windows frames, a single road lined with shops, hotels and bookstore winds its way to a massive castle that rises above the town below.</p>
<p>You enter the city walls to the sound and smell of local foods, you make your way up steep cobble streets and ancient stairs. The drizzle stops. The spring sun opens up on a plaza overlooking the tidal pool. Its waters are beginning to pull back, revealing soft wet sand. You enter the temple. In it, beneath a massive stained glass window with the soft light casting a multi-colored glow, you find monks deep in prayer, lighting candles and reciting hymns under their breath. </p>
<p>Experiencing the divine requires a suspension of reason, an acquiesce to the unknown. The willingness to say there is something unexplainable about this place, that there is something about how this place makes me <em>feel</em> that allows myself be led by feelings rather than thought. </p>
<p>This feeling of transcendence is often elicited by something unfamiliar, grand and ancient. In the West, we can be too introspective and self-conscious of our traditions to close our critical eye and simply experience them. </p>
<p>I&#39;ve had a complicated relationship with religion in my life. I grew up Episcopalian but fell away from attending church. But I think religion does offer something we all seek&mdash;a connection to eternity. For those that believe in heaven, that is offered in a literal sense. But for others, that connection can be found in places like Mount Saint Michael. </p>
<p>We all want to feel connected to what came before and feel that we will be a part of what will come in the future, to feel like our time on earth isn&#39;t fleeting and meaningless. By going to ancient temples and churches, by walking the pews, by participating in tradition, we connect ourselves with those who had done all that before us. </p>
<p>Transcendence is felt when we light an offering candle in an ancient house of worship because we know that people have been doing that for thousands of years, and that by doing so, now you have joined that community. And when people light a candle in the future, they will similarly captivated by the fact that you had done it in the past. You become eternal. </p>
<p>And it is in places such as Mount Saint Michael that this connection is strongest. Your tired feet, sore from climbing the cobblestone streets and ancient stairs, feel the same ache as pilgrims long past. You are looking at the same sweeping view of the coast line, the same ornate rose window. You enter through the same chapel door, walk through the same weathered pews, and cross your body the same as people have done for thousands of years&mdash;left shoulder, right shoulder, neck, and then chest. You watch the monks complete the same rituals, offer the same blessings, and recite the same hymns. </p>
<p>You watch them light the candles at the alter. The connection is drawn. The candle never goes out and neither will you. </p>



</div>

<div class="france_chapel travel-article parallax">
    <div class="caption">
        <span class="border">CHAPELLE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>e were never supposed to see a place like this. King Louis IX built it, not as a place of worship, but as a reliquary for his stash of holy relics, bought from Constantinople, including what he believed to be Jesus&#39; crown of thorns. </p>
    <p>Megan and I stood there as the soft light from the cloudy midday sun lit the stained glass. The walls are almost entirely composed of 15 massive stain glass windows, each standing 50 feet tall. The supports between the glass led up to a vaulted ceiling, painted a dark royal blue. There was perhaps fifty other people in the room, though it remained quiet, occasionally enforced by a &quot;shush&quot; by the staff that guarded the chamber. </p>
    <p>At the front sits an alter, where presumably the crown of thorns would rest&mdash;like a throne for a ghostly king. I imagine that King Louis kept commoners out of this room, not just to prevent damage to his costly relics, but so that the ephemeral nature of the crown room would remain unperturbed, inhabited only by the dull colored light of the stained glass, by the wisps of smoke from chandeliers, and by the crown sitting atop the empty throne. A court for the divine, where King Louis hoped to lure the Holy Spirit with his crown of thorns, where the disciples could gather in peace. An eternal place, undisturbed or changed by the city around it.</p>
    
</div>

<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Tango Singer</strong> Tomas Eloy Martinez perfectly captures the history and culture of
                Buenos Aires in this fast paced novel. Bruno Cadogan flies to Buenos Aires to find an elusive tango
                singer. In his quest, he strays deeper and deeper into the surreal nature of the city. Read this if
                nothing else.</p>
            <p><strong>Buenos Aires: Biography of a City</strong> This plainly titled book covers the architectural
                history of the Paris of South America. Perfect for those who want to know the story behind the sights.
            </p>
            <p><strong>The Argentina Reader</strong> A collection of primary source documents, this anthology covers the
                history of Argentina from its founding to present. You can pick and choose sections to read based on
                interest.</p>
            <p><strong>Ficciones</strong> Jorge Luis Borges is the most famous Argentian writer, perhaps the most famous
                Latin American writer. Read this for a crash course in his surrealism.</p>
        </div>
    </div>

    <div class="vid">
        <h3>La Mer</h3>
        <hr>
        <p><i>A compliation of France, set to "La Mer" by Chantal Chamberland.</i></p>
        <video class = "vid-center" style='padding: 1rem;' 
        src="{{url_for('static', filename='images/travel/france/paris_low.mp4')}}" controls> </video>
        <br>
    </div>
    <div class="other">
        <h4>Three Other Things</h4>
        <p><strong>Recoleta Cementary</strong> A vast collection of above ground graves in Buenos Aires' trendy Recoleta
            neighborhood, this cementary is a must do. It takes a while to find, but search out Eva Peron's final
            resting place.</p>
        <p><strong>Caminito</strong> I asked my Brazilian hostel mates if they wanted to join me. They said no. I can
            see why. This is perhaps the most touristy place I've ever been. If you are looking for street art however,
            this might be the place.</p>
        <p><strong>El Ateneo</strong> Argentians are avid readers. This former opera house was converted into giant
            bookstore and was named the world's most beautiful bookstore by National Geographic.</p>
    </div>
</div>
{% endblock %}