{% extends "travel_base.html" %}

{% block content %}

<div class="france_street2 travel-article parallax">
    <div class="caption">
        <span class="border">A STREET</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">A</span>n anatomical description of a Parisian street. Start at the base, the street itself. It is usually cobblestone or patchy asphalt, reflecting years of use. The sidewalks scale with the roadways&mdash;wide enough for outdoor seating on main thoroughfares down to single file on ancient narrow streets, which is quite often the cause of pedestrians ignoring the distinction and walking in the roadway. </p>
    <p>Parisian buildings have a uniform. White cut stone, three to six stories high, with blue mansard roofs, often with dormer windows peaking out. Blocks and blocks of them fanning out in orderly boulevards and winding alleys from the city center out to the ring road. But within this uniformity still exists variation. There is wrought iron balconies, white shutters, hanging window gardens, ornamental moldings, and carved figures, peaking out from centuries past. The colors and height provide consistency, and the detailing provides differentiation. </p>
    <p>Within each building, the top five stories house people, and the bottom floor houses business. Art galleries, cafes, and boulangeries line the streetscape. Cafe seating usually faces out into the street instead of towards each other as between the passersby and the buildings themselves there is always something to look at. </p>
    <p>The sidewalks pulse with people rushing to work, to cafes, to the metro, to home. And each cafe table collects passing men and women who stop at them to rest, dressed in fine long sleeves&mdash;even in the dead of summer&mdash;their hands pinching cigarettes, as they sip their wine or coffee.</p>
    <p>Underneath the cut stone buildings and cobblestone streets lies the nerves of the whole thing, the metro system. Wrought iron entrances lead just below street level where miles and miles of intersecting tunnels shoot speeding trains across the city. Some stations feel new, some feel old. Some of the train cars lack air-conditioning, instead relying on open windows, and some are completely automated, their lines offering less than two minute headways between trains.</p>
    <p>You can be from the edges of the city to its center in under thirty minutes, where you will find sprawling palaces and museums, parks and plazas, and the Seine snaking through the center.    </p>
    
</div>

<div class="france_street3 travel-article parallax">
    <div class="caption">
        <span class="border">THE FRENCH</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span> kind of hate the French. I hate them in their roadside cafes, eating fresh bread and fatty cheese, smoking cigarettes, and never getting fat or dying from heart disease.  </p>
    <p>They are obnoxiously casual about living in the most gorgeous city in the world. The briskly walk down wide boulevards, never once glancing up a the Eiffel Tower or the Louvre. They bike in their protected lanes along streets lined with beautiful trees, fabulous castles, museums and shops, and then they return home to mansard roof crowned apartment, to watch tv or scroll mindlessly through their phone. </p>
    <p>They eat breakfast at a boulangerie, picking up a fresh baked croissant or pastry for under two euros, hop on their robust, clean, and timely metro and head off to their job&mdash; either in some creative industry making designer scarfs or else in some legacy industry, built around the French control of the international soy beans market that was established in the 1800s. </p>
    <p>They inherent the world from their ancestors who mastered every art of aesthetics, from painting, to literature, to architecture, to fashion, and their job is simply to maintain this inheritance. But they seem to take no joy in it.</p>
    <p>And I can&#39;t even fault their manners. I was expecting the old stereotype about French to be true, but their waiters were polite and timely. No one begrudged me for not speaking French. </p>
    <p>I want to do a cultural exchange where they come live in Toledo, eat McDonalds, and work as a used car salesman, and I will live in Paris, doing all the things that Parisians do. The French government should sponsor it. They would probably stop protesting. </p>
    
</div>

<div class="rain travel-article parallax">
    <div class="caption">
        <span class="border">RAIN</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>t was a rainy Wednesday morning a little before 7 am. Shallow pools of water reflected on the Trocadero. In a rather unnatural state of affairs, there was more pigeons patrolling the plaza than people. It&#39;s a rare sight to see the Eiffel Tower unimpeded by passersby.</p>
    <p>I scrambled along the slick surface, hoping to snap a picture before our bus left for the Normandy coast. The overcast sky hummed a grayish pink with spots of blue peaking out between the clouds. </p>
    <p>The Eiffel tower was back lit with its slender frame casting a serene silhouette in the dim morning light. A reflection formed on the plaza like it would on a pond.</p>
    <p>I snapped a picture and slid my way back across the marble plaza onto the rough concrete sidewalk. I have never been much of a morning person. </p>    
</div>

<div class="saint travel-article parallax">
    <div class="caption">
        <span class="border">SAINT MICHAEL</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>e watched the city center turn to suburbs, then to farmhouses, then to nothing at all. We were on the Norman coast now. We pressed on as the rain misted around us, kicked up by the blowing wind. Long lapping waves stretched across the white sand beach, forming a tide pool that stretched miles out to sea.</p>
    <p>Mount Saint Michael stood on the other side of a bridge&mdash; a delicate castle, built atop of a massive hunk of granite. It looked as if a giant had scooped out a mountaintop abbey and placed it gently on the shore. The tide was in and water danced with the drizzle of rain. </p>
    <p>As we crossed, the weathered white granite walls of the city came into clearer focus. The little town of enclosed blue roofs and hewn wood windows frames, all built to support the monks who mediated in the castle above, drew closer with each step. </p>
    <p>We passed through the city gate and followed the town&#39;s single road as it wound its way to up to the abbey at the mountain top. Entering the abbey, the drizzle stopped, and the spring sun opened up on a plaza overlooking the tidal pool. Its waters began to pull back, revealing soft wet sand. We entered the temple. </p>
    <p>Inside, beneath the soft rainbow light cast by a massive stained glass window, monks strode across the chapel floor deep in prayer, lighting candles and reciting hymns under their breath. </p>
    <p>A place like this is the pinnacle of human achievement. It fills no practical purpose&mdash; other than to offer any of those lucky enough to pass through their doors what we all are searching for&mdash;a connection to something larger. </p>
    <p>Humanity is unique in that we are conscious of the fleeting nature of both ourselves and of the world. And when we encounter things that seem to defy that fundamental law&mdash; the sweeping view from a mountain top, pillars of rocks standing against massive waves crashing on a black sand beach, or an ancient abbey sitting on a rocky outcrop&mdash; we are filled with a sense of awe. These thing existed before me. And when I am gone, I am sure they will exist still.</p>
    <p>That same impulse is the source of our fascination with history. Ceaser conquering Gaul has no real impact on my day to day life, but if an act as consequential as that cannot be immortalized as meaningful then what meaning can be found in anything I do.</p>
    <p>I can steal a bit of meaning in a place like this. </p>
    <p>I can walk the same worn steps, through the same doors, and see different monks perform the same prayers&mdash; all unchanged from centuries before. I can light a candle in the back by the pews, drawing a connection to all those who had done so before. I am captivated to do what they did in such a beautiful and ancient place. And when people light a candle in the future, they will similarly captivated by the fact that I had done it in the past. I become a part of the tradition, of the journey, of the draw of a place like this. </p>
    <p>The flame lights the wick, and the connection is drawn. The candle never really goes out and neither will you. </p>
    


</div>

<div class="france_chapel travel-article parallax">
    <div class="caption">
        <span class="border">CHAPELLE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>e were never supposed to see a place like this. King Louis IX built it, not as a place of worship, but as a reliquary for his stash of holy relics, bought from Constantinople, including what he believed to be Jesus&#39; crown of thorns. </p>
    <p>Megan and I stood there as the soft light from the cloudy midday sun lit the stained glass. The walls are almost entirely composed of 15 massive stain glass windows, each standing 50 feet tall. The supports between the glass led up to a vaulted ceiling, painted a dark royal blue. There was perhaps fifty other people in the room, though it remained quiet, occasionally enforced by a &quot;shush&quot; by the staff that guarded the chamber. </p>
    <p>At the front sits an alter, where presumably the crown of thorns would rest&mdash;like a throne for a ghostly king. I imagine that King Louis kept commoners out of this room, not just to prevent damage to his costly relics, but so that the ephemeral nature of the crown room would remain unperturbed, inhabited only by the dull colored light of the stained glass, by the wisps of smoke from chandeliers, and by the crown sitting atop the empty throne. A court for the divine, where King Louis hoped to lure the Holy Spirit with his crown of thorns, where the disciples could gather in peace. An eternal place, undisturbed or changed by the city around it.</p>
    
</div>

<div class="tower travel-article parallax">
    <div class="caption">
        <span class="border">EIFFEL</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">A</span>long the banks of the Seine, across the Trocadero, rises the Eiffel Tower. Megan and I sat there first under its shadow and then under its glow. It was the early evening and we were waiting for the sunset to finish setting so we could get a picture of the lit up tower in the early twilight. </p>
    <p>We had the classic French picnic supplies &mdash; minus the blanket &mdash; red wine, bread, cheese, little plastic cups and paper plates. Megan posed with her new engagement ring as we sat there. I played the part of the photographer &mdash; though my pictures were no good. </p>
    <p><em>Two drifters off to see the world</em></p>
    <p>Sitting there I thought of that lyric from the song &quot;Moon River&quot;. I imagined ourselves drifting down the Seine, with all the sights of Paris floating by.</p>
    <p><em>Drifters</em>. There is something peaceful of the word. Drifting through life without having to actively paddle, our destination predetermined, but at peace since we drift together. </p>
    <p>I tossed bits of bread towards a pigeon, luring it ever closer to Megan. She batted it away. What mixed signals it had received. </p>
    <p>Wandering merchants paced back and forth across the green, tempting tourists with bottles of wine and miniature statuettes of the Eiffel Tower. They would hide their wares beneath their coats each time a cop car passed too close.</p>
    <p><em>Wherever your&#39;e going, I&#39;m going that way.</em></p>
    <p>The sun began to set. My phone had died and Megan&#39;s was on its last few percent. She was filming the Eiffel Tower, hoping to capture the exact moment it lit up. In the end, she wouldn&#39;t be able to capture the exact moment, but it didn&#39;t matter, we were together, and we knew that we always would be. </p> 
</div>
<div class="vid">
    <h3>La Mer</h3>
    <hr>
    <p><i>A compliation of France, set to "La Mer" by Chantal Chamberland.</i></p>
    <video class = "vid-center" style='padding: 1rem;' 
    src="{{url_for('static', filename='images/travel/france/paris_low.mp4')}}" controls> </video>
    <br>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Argentina Reader</strong> A collection of primary source documents, this anthology covers the
                history of Argentina from its founding to present. You can pick and choose sections to read based on
                interest.</p>
            <p><strong>Ficciones</strong> Jorge Luis Borges is the most famous Argentian writer, perhaps the most famous
                Latin American writer. Read this for a crash course in his surrealism.</p>
        </div>
    </div>


    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Catacombs</strong> Underneath the city, even below the metro, winds tunnels and tunnels of catacombs. In here lie the 
        located remains of thousands of people. The bones are stacked and arranged in macabre patterns.</p>
        <p><strong>Lourve</strong> This is, without a doubt, the best museum in the world. It is also a zoo of people Entire countries could be 
            run off the ticket sales.</p>
    </div>
</div>
{% endblock %}