{% extends "travel_base.html" %}

{% block content %}
<div class="street travel-article parallax">
    <div class="caption">
        <span class="border">HUNGARIAN HEAT</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">E</span>uropeans care deeply about climate change because there is no air
        conditioning in Europe. In America, when it
        hits 90 degrees outside, you can go to restaurants or movies or simply stay at home to escape the heat. In
        Europe, the heat is inescapable&mdash;especially in a less affluent Central European country like Hungary. </p>
    <p>And it&#39;s much worse for American tourists. We simply aren&#39;t used to summertime without AC, so it&#39;s
        hard to style yourself the sophisticated European when you are sweating through your Target brand button-down
        shirt.
    </p>
    <p>My mother and I had found ourselves in Hungary during a heat wave. In the seven days in early September that we
        were there, five of them had heat over 90 degrees, and on the other days, it was either raining or we were in
        the airport.</p>
    <p>Budapest is really the amalgamation of two separate cities, Buda and Pest. Buda is the traditional, older city on
        the western side of the Rhine, and Pest is the cosmopolitan, newer city on the eastern side. </p>
    <p>We choose to stay in an Airbnb on the Pest side.</p>
    <p>The area was nice. Our building sat about a block away from the Deak Ferenc metro station and across the street
        from an urban park with a massive Ferris wheel. It was about a ten minute walk from the ruin bars, a popular
        section of town where young people party in the repurposed ruins of the Jewish quarter of town, which was
        hollowed out during the holocaust. No, I am not making that up.</p>
    <p>From the outside, the Airbnb looked positively regal. The six story building had an elaborate pediment with two
        decorative towers on either side. Like much of Pest, it was built from solid stone and looks to be from the turn
        of century of the twentieth century. The bottom story was occupied by a grocery store and the Hungarian
        equivalent of a Radio Shack.</p>
    <p>To the side of the building, on a tiny street crowded with homeless people, there was the entrance to the upper
        stories of the complex. </p>
    <p>Upon entering the apartment, We were greeted with a gust of hot, humid air. Much to our American chagrin, there
        was
        no central air in the apartment, only two ductless, single room AC units. My room did not have a unit, and the
        one
        in the master bedroom did not work. </p>
    <p>Our host told us that the AC had broken right before we arrived, and that in Hungary, it takes a few weeks
        minimum
        for repairs. While all of this was almost certainly not true (I suspect that the AC had broken long ago, and he
        was
        simply too cheap to replace it), it did mean that we would be sleeping on couches in the living room to try to
        escape the heat.</p>
    <p>More importantly, it meant that no one would confuse our flustered, sweaty selves for locals when we stumbled out
        of
        the apartment into the hot Hungarian sun. </p>
</div>

<div class="heros travel-article parallax">
    <div class="caption">
        <span class="border">THE NEW CITY</span>
    </div>
</div>

<div class="para-tex">
    <p><span class="firstcharacter">M</span>any tourists arriving in Budapest assume that they are going to an
        ancient city, one who gained its sights and
        character over hundreds if not thousands of years. But Budapest, at least as its presently constituted, is not
        old.
        In fact , most of it is no older than Chicago.</p>
    <p>It&#39;s population and building stock doubled between 1890 and 1910, and nearly its entire architectural
        identity
        was established during that time as well. </p>
    <p>The Hungarian parliament was built in 1904, the largest church, Saint Stephen&#39;s Basilica was completed 1905,
        Fisherman&#39;s bastion finished up work in 1902. Vajdahunyad Castle, the metro, and Hero&#39;s Square all
        opened in
        1896, which was the same year that the Hungarians celebrated the 1,000 year anniversary of the Magyar conquest
        of
        the Carpathian basin.</p>
    <p>The Hungarians know a secret that most Americans cannot accept: in order to have a beautiful city, you actually
        have
        to build a beautiful city. </p>
    <p>It&#39;s not that Americans don&#39;t want a beautiful city. They pay thousands to fly to and then walk around
        Paris,
        Rome, London, Berlin, and yes even Budapest. But Americans are afraid to build a beautiful city. They worry that
        it
        will look tacky and out of place&mdash;like a Disneyland recreation of Europe. More over, we have a tradition here of
        cheap materials and quick construction. We don&#39;t believe we could even build a city like that, even with the
        proper funding and political will.</p>
    <p>We are even afraid to recreate the styles of our own architectural history. We will put up 1,000 McMansions
        before we
        build another turn-of-the-century rowhouse. </p>
    <p>Hungarians do not have the same compunction. </p>
    <p>They wanted the main thoroughfare of Budapest to rival Paris&#39; Champs-Élysées, so they adorned Andrassy avenue
        with neo-renaissance mansions and townhouses and punctuated it with Hero&#39;s Square. They wanted their
        parliament
        to rival&#39;s Englands, so they built the world&#39;s largest Parliament in a gothic revival style and put it
        directly along the Danube. Not all construction was utilitarian either. They wanted the castles, spires, and
        beautiful medieval walls, so they built Fisherman&#39;s bastion right alongside Buda Castle and Vajdahunyad
        Castle,
        first from wood and cardboard then from stone and masonry, on the outskirts of Pest. </p>
    <p>Again, all this construction occurred at the same time as cities like Chicago and Saint Louis were coming of age.
    </p>
    <p>Hungarians wanted a culture and history to match the rest of Europe, so they built one out of whole cloth. The
        energy
        of city must have been electric in those times. Hungary was established as a co-equal of Austria in 1867, and
        suddenly a nation sprung out of a backwater. </p>

</div>
<div class="town travel-article parallax">
    <div class="caption">
        <span class="border">SZENTENDRE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>&#39;ve always thought that strangers can pressure you more than even
        your closest peers. </p>
    <p>I was desperately trying to operate a ticket machine at the train station in Szentendre with a large impatient
        line
        behind me. Szentendre is an artist town about an hour downstream the Danube from Budapest. More relevantly,
        it&#39;s
        also the last stop on the HEV train, which runs from Batthyány tér on the Buda side of Budapest and only comes
        once
        every hour. </p>
    <p>It was towards the end of the day, and like many government run services in Hungary, the ticket machine
        wasn&#39;t
        working exactly as it should. Even though I kept clicking the British flag to try and change the language to
        English, the machine kept giving me Hungarian. </p>
    <p>A long line had formed behind me. I could see angry faces peeking out from the line, with the occasional
        aggressive
        watch check, which of course is more about showing that you are checking the time than actually checking the
        time.
        According to the train schedule, it looked like the last train would be coming in less than 10 minutes &mdash;if
        this
        was to actually be the case is surely up for debate &mdash;and I needed to purchase something. </p>
    <p>I bought what I was half sure was a one way ticket back to Budapest for 47,000 Hungarian Forint. This of course
        was a
        meaningless number to me in the moment, especially with an impatient crowd behind me. I knew that a quick and
        dirty
        way of changing forints to dollars was to move the decimal place up three spots and divide by nine... or was it
        three? Either way, I bought it and boarded the train. </p>
    <p>On the way down, no one had inspected our tickets, so being unsure as to what exactly I had bought, I was hopeful
        that this would also be the case on the way back up. A conductor did in fact come by to check tickets this time.
        I
        felt uneasy sitting there, waiting to get potentially busted by the Hungarian police for the high crime of
        riding
        the train for free or more likely for the wrong price. </p>
    <p>He arrived to my seat and asked to see my ticket. He frowned, looked at me, and then back to the ticket. He
        paused
        and then handed it back. </p>
    <p>I had bought a month long commuter pass for 160 dollars American dollars. </p>

</div>
<div class="baths travel-article parallax">
    <div class="caption">
        <span class="border">THE BATHS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>t was a cool, drizzly day at Széchenyi baths. The woman at the check
        in counter handed my mother and me a
        pamphlet
        on the baths, a coarse towel, and disposable slippers. I looked up at the domed ceiling. In its center, there
        was a
        mosaic of a very hellenic looking shirtless man leading a chariot pulled by three horses.</p>
    <p>I flipped through the pamphlet as we wondered through a labyrinth of locker rooms, hot tubs, and pools. On the
        second
        page was a picture of a very serious looking man by the name of István Széchenyi, the namesake of the baths. He
        had
        a puffy chin strap beard, a well manicured mustache, and what had to be the largest eyebrows this side of the
        Danube. </p>
    <p>Dressed in military uniform, he seemed like the type of man you would name a place like this after. From the
        outside,
        the baths look a bit like museum. Two domes, decorated with greened copper statues, rise above a single story
        arcade. The exterior looks to be made of limestone and the domes are a deep dark gray. </p>
    <p>After repeatedly getting turned around inside, we finally step out into exterior baths. Its still drizzling, and
        we
        can steam rising out of the baths. The baths aren&#39;t a series of tubs or small pools. Its two quite large
        pools,
        the size you might see at a country club. </p>
    <p>Decorating the pool area, there are wrought iron street lamps and marble statues pouring out steaming water. The
        pools are enclosed by a massive arcade, which is painted a pale yellow. On the opposite side of the baths, there
        is
        a two story building, which houses a small cafeteria. </p>
    <p>My mother and I put our stuff away in a locker and then entered the pool. The water felt warm but not hot, though
        if
        you go over to one of the fountains, you can have the hot water fresh from the spring pour over your shoulders.
    </p>
    <p>Across from us, a group of Italian girls took turns taking a series of ever more revealing pictures for their
        instagram. I can imagine István Széchenyi in his neat military uniform furrowing his massive eyebrows if he was
        around to see the sight.</p>

</div>

<div class="night travel-article parallax">
    <div class="caption">
        <span class="border">ALONG THE DANUBE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">O</span>n somewhat of a whim, we bought tickets for a river cruise along the
        Danube for our last night in Budapest. The
        departure point was about 20 minutes north of the Parliament building, and since we felt ourselves to be
        seasoned
        travelers at that point, we elected to take the metro to our destination.</p>
    <p>We got off at Lehel tér and began walking down Victor Hugo Street around 7pm. We were out of the &quot;old&quot;
        town
        at this point, and the buildings looked significantly cheaper. Hungary was famously under communist rule until
        1989,
        and it&#39;s easy to see the traces in the apartment complexes and business offices. </p>
    <p>In this part of town, everything is five to six story slabs of painted concrete, with little rounded concrete
        balconies and little unadorned window sills. It doesn&#39;t look bad, but it doesn&#39;t look good either.
        It&#39;s
        the blandest version of 1960&#39;s futurism. </p>
    <p>It was pitch black upon reaching the dock. We boarded the ship somewhere around 8:45, which was pretty quick for
        Hungary, considering the scheduled boarding time was 8:30. The ship was a mid sized ferry that could comfortably
        fit
        one hundred to one hundred twenty people. </p>
    <p>That night there was somewhere around forty or so souls on board, all of whom crowded bow of the boat as we began
        drifting down the Danube. The staff handed out little plastic cups of some sort of fruity alcoholic cocktail.
    </p>
    <p>As we turned the bend, the Parliament building fell into view, and everyone rushed to the railing to snap
        pictures
        and videos. With warm yellow incandescent lights illuminating the building, the Parliament looks something like
        a
        giant Christmas ornament during the night. At over 40 million pounds of stone, its sheer size makes it imposing,
        but
        the amount of detail given to each arch, buttress, and spire makes it feel delicate as well. </p>
    <p>It takes a few minutes for us to pass the building. Its over 800 feet from side to side and can fit fifty six
        story
        residential buildings inside. </p>
    <p>But we keep sailing along and soon had Saint Stephen&#39;s, the Chain bridge, and Buda Castle to split our
        attention.
        Each landmark was lit in the same pale yellow light as the parliament, except the chain bridge which was in a
        white
        light, and each gives the impression of a glass ornament shining along the river bank. </p>
    <p>More than any city I&#39;ve ever been to, it strikes me how much of Budapest is visible from the water. Each
        landmark
        was largely unobstructed by trees or other buildings, and it felt like if I craned myself just far enough out of
        the
        boat, I could reach out and touch them. I resisted the urge.</p>
    <p>As we kept sailing, the buildings became a little bit more modern and a little bit less romantic. We started
        seeing
        parts of the city that me and my mother had not yet explored. We turned back a little after we had passed the
        Central Market Hall, a huge neogothic farmers market made from wrought iron.</p>
    <p>On the way back, the Hungarian Parliament, Saint Stephen&#39;s Cathedral, Chain bridge, and Buda Castle floated
        by
        like credits at the close of a movie. </p>
    <p>After about an hour, we exited the boat and headed home. We had an early flight the next morning.</p>
    <p>&nbsp;</p>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>Budapest 1900</strong> Historian John Lukacs' book sketches a historic portrait of Budapest at
                it's height. Learn about the great minds and advocates, who over the span of no more than two or three
                generations, built one of Europe's great cities. Read this if nothing else.</p>
            <p><strong>The Bridge at Andau</strong> Written in 1957, this book blurs the line between cold war
                propaganda
                and historic fact. The Hungarian Revolution of 1956 had just been stamped out, and the Soviet Union's
                cruelty was exposed on the world stage for the first time. I read this book on the plane ride home. I
                kept
                thinking about the Hungarian women who led our cooking class who said that things might have been better
                under communist rule.</p>
            <p><strong>The Paul Street Boys</strong> Ferenc Molnar tells the tale of two gangs of boys
                fighting each other
                for the right to build a club house in a derelict building site. A popular choice for Hungarian
                elementary
                students, there are shades of The Little Rascals here.</p>
        </div>
    </div>
    <div class="other">
        <h4>Three Other Things</h4>
        <p><strong>New York Cafe</strong> Don't let the name fool you. New York Cafe is one of the nicest restaurants in
            Budapest. Imagine Versailles but a cafe. The food is good, the atmosphere is amazing, and the line is long.
            Reserve ahead.</p>
        <p><strong>Szimpla Kert</strong> On the other end of the spectrum, there are Budapest's famous ruin bars.
            Szimpla Kert remains one of the most visited. Best to attend while you are still young.</p>
        <p><strong>Buda Castle</strong> Reserve a day to walk from Buda Castle, to Saint Matthias Church, and down to
            Fisherman's Bastion. All of this can be found on the Buda side of Budapest, which the sort of "old money"
            side of town. </p>
    </div>
</div>
{% endblock %}