{% extends "travel_base.html" %}

{% block content %}
<div class="black-church travel-article parallax">
    <div class="caption">
        <span class="border">BLIZZARD</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>celand can be a miserable rock when caught in the wind and sleet of the North Atlantic. It was our first real day in the country, and we had about five hours of driving ahead of us. We were going to loop around Snaefellsnes, a peninsula on the western coast of the country, seeing various waterfalls, beaches and mountains as we went.</p>
    <p>The landscape between Snaefellsnes and Reykjavik is barren and rocky. Trees do not readily grow that far north. And when they do, they are short and stubby&mdash;more like exaggerated bushes than the long pines and oaks of the United States. Due to the uninterrupted landscape, wind readily sweeps across Iceland. And so we found ourselves on the receiving end of arctic winds as we moved further into the unpopulated north of the country.</p>
<p>It began to rain. At first it was just a drizzle but as we went on, the rain picked up and was caught in the wind until it blew sideways. Outside my window, Icelandars herded fluffy sheep in the driving rain and seagulls floated in the choppy waters of the North Atlantic. </p>
<p>The rain began to fall more heavily as we reached our first stop, Mount Kirkjufell, so that by the time we arrived, a thick fog laid heavily upon the mountain and blocked the peak. We got back in the car and pressed on, driving further into the peninsula. </p>
<p>At the center of Snafellsnes sits a giant glacier, famously the entry point in the earth&#39;s crust in the novel &quot;Journey to the Center of the Earth&quot;. This massive block of ice and granite served as a foreboding reminder that we were only fifty or so miles from the arctic circle.</p>
<p>It is my pet theory that this glacier drives microclimates on the peninsula. That day the temperature was on the cusp of freezing, so every time the road curved closer to the glacier, rain would turn to snow, and when we kept our distance, oftentimes when we were closer to the shore, snow would turn back to rain. </p>
<p>As we began to drive inland, the snow was light, almost charming. Our visibility was unaffected, and our only concern was that it would accumulate and prevent us from returning back. It was an isolated single-lane stretch of road, and oftentimes there was no other cars ahead of us to make fresh tracks in the snow.</p>
<p>Suddenly, the road conditions began to rapidly deteriorate. The wind was in excess of 40 mph and blew white flakes of snow in a swirl around the car. Soon the ground became indistinguishable from the sky, and it all was a mix of white and wind. </p>
<p>Our two wheel drive Kia Sedan no longer felt sufficient. </p>
<p>Iceland wisely places sets of yellow plastic sticks on either side of the road, perhaps every 20 feet or so, to aid drivers in such conditions. But we could barely see two sets of sticks ahead. We drove in silence, and as we rounded a mountain bend, we saw an eighteen-wheel truck stopped in the middle of the road, presumably waiting for the snow to pass. We snuck past. </p>
<p>Driving was slow and tense as the white-out continued. We thought about turning around, but there also was no place to do so along the single lane road. We would have to ride further into the blizzard, complete the loop around the pennisula, and hopefully get to our hotel in the interior of the country before nightfall. We drove on.</p>
<p>But then as quickly as the snow began, it ended, and we were out in rain and fog again. This cycle of pockets of snow and then rain would repeat many more times. We zoomed along whenever there was rain, hoping to get off the peninsula and back to the mainland. But as soon as we grew comfortable and confident that we were in the clear, heavy snow would fall again, and we would have another twenty minute stretch of tense driving through blizzard.</p>
<p>Our final stop of the day was at Búðakirkja, a black-painted church, found deep in moss covered lava fields, perpetually isolated from any noticeable congregation. It was raining when we arrived, and as I stepped out, a gust of wind blew the car doors open. I snapped a few pictures. On one side of the church was the tumultuous North Atlantic and on the other the white glacier, the black asphalt line of the road, a dividing line between snow and rain.  </p>

</div>

<div class="foss travel-article parallax">
    <div class="caption">
        <span class="border">FOSS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">S</span>teep rocky cliffs form a lip all along the southern edge of Iceland, marking the former coastline of Iceland and separating the interior highlands from the coastal lowlands. At the bottom of these cliffs, the ring road snakes along the perfectly flat land, with the cliffs to the left, and marshes, lava fields, and black sand beaches extending to the ocean on the right. Ice melt from massive glaciers pours off the cliff face forming hundreds of waterfalls that empty out to the North Sea.</p>
    <p>We had arrived at our hostel a little early that day and had some sunlight to burn. We were on our way to Seljalandsfoss and Skógafoss, two spectacular waterfalls about halfway between our hostel and Vik. As we drove, we admired the little unnamed waterfalls and ancient the cliff and turf houses that dotted the lowlands. I was particularly impressed with the tenacity of the sheep, some of which had managed to climb about halfway up the cliffside.</p>
    <p>We arrived at Seljalandsfoss first. It is a thin spout of water falling about 200 feet, behind which is cave deep enough to allow you to walk around. The mist from the waterfall leaves a thin layer of ice on the rocks and plants that surround the falls, making traversal difficult. We decided to try anyways. We grabbed hold of a metal chain, covered in about an inch of ice and carefully clamored across ice covered rocks. After about ten minutes of very slow, purposeful steps, we reached the area behind the falls. We snapped pictures and decided to continue up a rock covered hill to the vantage point on the other side, after which we would carefully walk down ice covered metal stairs and back to our car, glad that we hadn&#39;t slipped and broken out necks.  </p>
    <p>Skógafoss did not feature the same icy dangers as Seljalandsfoss. It falls the same 200 feet from the Icelandic highlands down to the coastal lowlands, but is much wider, spanning nearly 85 feet. On the left side of the falls are set of steep stairs, which despite the setting sun, we of course climbed up. </p>
    <p>We were greeted with rolling yellow-green hills and the setting sun. Sunsets in Iceland are hours long affairs. In October, when we were traveling, the sun never reaches its typical noon-time pinnacle, instead sitting in low in the southwestern quadrant of the sky the entire day. By midday, it maybe climbs a third of the way up. Due to its low hanging, southernly position, the highlands of southern Iceland glow orange for final two hours of the day. </p>
    <p>Megan and I sat along the banks of the Skóga in the orange glow of the arctic sun. The wind barely blew and the sky was clear. It would be the most peaceful moment we would have up in that northern edge of the world. </p>
    
</div>

<div class="vik travel-article parallax">
    <div class="caption">
        <span class="border">VIK</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">D</span>irectly ahead of us were the famous Reynisdrangar basalt sea stacks, three jagged spires of rock that jut out of the choppy white water like dragon teeth. The eastern side of the rock was covered with green moss and the ever fluttering wings of seagulls, ducking in and out of craggy impressions in the stone. </p>
    <p>We had scrambled over a series of rocks and been rewarded with a private stretch of Reynisfjara beach on the other side. The beaches around Vik are otherworldly&mdash;dark, menacing, somehow medieval in appearance. They are a narrow slice of black sand separating the raging waters of the North Sea from a towering black tangle of a mountain with basalt pillars at its base.</p>
    <p>To visit is a journey back in time. Imagine weary Viking sailors pulling their longships to shore, seeing the craggy, moss covered peak of the rising Reynisfjell mountain, and finding shelter in Hálsanefshellir cave on a cold rainy day.  </p>
    <p>The beach itself feels alien, almost sterile. Not just due to the black sand but also due to the lack of any evidence of life. There are no shells, no scurrying crabs, no washed up seaweed. The seagulls segregate themselves to the cliffs above. All there is black sand, and the fading footprints left by passing tourists. </p>
    <p>We had passed a series of signs warning about the danger of rouge waves at the beach. I would later read horror stories of giant waves crashing tourists against the walls of the cave and dragging them out to sea in a powerful undertow. A few of them had even died. The sea was mostly calm that day though one unusually large swell had me jumping from rock to rock during our exploration. </p>
    <p>We headed back to Vik to get lunch. With three hundred permanent residents, it&#39;s the largest town in the immediate area. Its on the other side of Reynisfjell mountain at the base of the Katla volcano. Despite being a major tourist destination, the town itself is not really geared toward tourists. I imagine that this because it is too remote.</p>
    <p>The night before we had finished an eight hour drive up and down the southern coast at the Dyrhólaey cliffs, maybe twenty minutes west of Vik. We had mistakenly gone there, thinking it was the famous black sand beach. These cliff rise 400 feet and are topped with a white lighthouse. On one side, you can see an arched promontory of rock sticking out into the water. On the other, the black sand beaches stretching to the sea. We sat and stared out to the water in the pale orange glow. We had seen Vik from every angle and in every light, all of them alien, mysterious and strangely beautiful. </p>        
</div>

<div class="blue-lagoon travel-article parallax">
    <div class="caption">
        <span class="border">BLUE LAGOON</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">S</span>hirtless men and bikini clad women vice gripped beers and tropical cocktails as the arctic winds blew rain sideways. It was just past sundown. The lifeguards wore full winter parkas and most ominously, a spot light shined into the less populated parts of the hot springs, giving the appearance that we were all lost at sea and needed rescuing. </p>
    <p>People walked backwards against the wind towards the poolside bar to get their complimentary free drink. The frozen grimaces on their faces seemed to say: <em>We are gonna have fun goddamnit. It doesn&#39;t matter that its near freezing outside, the wind is blowing, and the rain is pouring. We scheduled fun, and we <strong>will</strong> have fun.</em>    <p>It was our last night in Iceland, and we were at the Blue Lagoon. Whenever I told people that I was going to Iceland, the first thing they would reflexively ask is if and when I was going to the Blue Lagoon. It was a can&#39;t-miss we were told, and being the type of people who like to squeeze every drop out of a vacation, we were sure not to miss it.</p>
    <p>And so, once again, we found ourselves fighting the uncooperative weather of Iceland. It was an interesting contrast. The modern Scandinavian facility that abutted the springs; the milky turquoise of the sprawling pool, colored by natural occurring silica silt; the steam rising from the volcanically heated water, and the torrent of rain and gusting wind, pounding our exposed heads.</p>
    <p>When we first got in, the rain and wind wasn&#39;t so bad, but as the night settled, they picked up. Megan and I waded through the water, deeper and deeper into the pool. We walked backwards since we were walking into the wind.</p>
    <p>&quot;Can you not do that?&quot;, Megan asked. </p>
    <p>&quot;Do what?&quot;</p>
    <p>&quot;You are clearly splashing me.&quot; But I was not. The wind was so strong that it formed waves of water that rhythmically smacked against the back of our heads.  </p>
    <p>We both laughed. There is no guarantee of rest and relaxation in the North Atlantic. </p>
    
</div>

<div class="northern-lights travel-article parallax">
    <div class="caption">
        <span class="border">NORTHERN LIGHTS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">&quot;A</span>ctually, I think you may be able to see them a little bit. I saw them myself earlier on the way up from Selfoss.&quot; The receptionist at our hostel smiled at us. He handed us back our phone with the aurora forecast app still open.</p>
    <p>We were ecstatic and a bit surprised. It was our third night of Northern Lights hunting. Finding the lights requires three things: darkness, a clear sky, and solar activity. Finding that golden combination had proven tough thus far.</p>
    <p>We left with a mix of excitement and hesitation. </p>
    <p>I had been sick nearly the entire time we were in Iceland. I had had a horrific head cold the week before the trip, and while the congestion and fever had died down, the cold rippled into my stomach, upsetting my bowels and threatening the delicate remission I had achieved with Humira. </p>
    <p>The mix of the cold rainy weather in Iceland and the fish heavy food had led me to sickness nearly every time I used the bathroom. I had gotten sick right before we had set out to find the lights that night, and I found myself ruminating on the situation, unable to fully enjoy the experience.    </p>
    <p>We drove to Thingvellir, a national park in the center of Iceland. We parked the car at the edge of a valley and turned off the lights. We needed pitch black if we were to have a chance at seeing the lights. Still I ruminated. I had dedicated my remission to fully seeing the world, aware that it could collapse at any moment and send me back to the hospital. And here we were at the rugged edge of the world, where nature is at its harshest and it&#39;s strangest, and my body felt as frail and spiteful as it ever has. I felt the dread of turning the final page in what had been a happy chapter of my life. </p>
    <p>&quot;Is that them?&quot;, I pointed to a pale green glow on the edge of the horizon. It looked like a faint green cloud.</p>
    <p>&quot;Possibly.&quot; Megan responded.   </p>
    <p>We stared a while at this strange green cloud, squinting and convincing ourselves that this in fact might be it. The green cloud soon dissolved in the air, and we decided to head to Selfoss, a town about an hour south where our hostel receptionist had seen them. We drove largely in silence. I had told Megan that I was convinced that I would likely be quite sick for the next few months. I hadn&#39;t chosen the right moment to talk about this. It was selfish.</p>
    <p>About fifteen miles outside of town, we passed a car pulled to the side of the road. Megan, who was driving, asked me to look through the back windshield.</p>
    <p>&quot;Do you see them?&quot;</p>
    <p>&quot;I see them.&quot;</p>
    <p>We pulled over. Across the dark horizon snaked a faint, yet shimmering green glow. It was the Northern Lights, the solar winds that float across the top of the world. We watched the lights ripples and turn across the sky, rolling themselves out until they dissolved back into black. </p>
    <p>It was fainter then we imagined, but the moment meant a lot.   </p>
    <p>I thought about chapters as we drove back, glad that I had taken this one to travel and find Megan. I thought about how life ripples and turns, with moments of brilliance and moments of dullness, before it too dissolves and empties itself into black. I began to cry. I thought and still think that I would like to buried at a place like that, at the fringe of the world, where magic could still live.    </p>
    
</div>

<div class="vid">
    <h3>Walking on a Dream</h3>
    <hr>
    <p><i>A compliation of Iceland from the passengar seat, set to "Walking on a Dream" by Empire of the Sun.</i></p>
    <video class = "vid-center" style='padding: 1rem;' 
    src="{{url_for('static', filename='images/travel/iceland/iceland.mp4')}}" controls> </video>
    <br>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Little Book of</strong> Rather than one book, "The Little Book of" is a series of books written by 
            Alda Sigmundsdottir. Each book is an anthology of essays. For example, "The Little Book of Icelanders in The Old Days"
            contains a series of vignettes about what Iceland was like, you guessed it, back in the old days. Highly recommend this series.</p>
            <p><strong>Under the Glacier</strong> Halldór Laxness, the nobel laureate in literature from Iceland, writes an almost comedic
            meditation on religion and society in rural Iceland. One of his shorter novels, it serves as a good introduction to his work. </p>
            <p><strong>Saga of the Icelanders</strong> A sad disclaimer, I have not read this. But, the Saga of the Icelanders is the most 
                famous tale (or series of) in Icelandic literature. If you are a fan of pillaging, then this will become your bible.</p>
        </div>
    </div>
    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Golden Circle</strong> About an hour east of the capital, you can find some of Iceland's most famous
        waterfalls and geysirs. Highlights include Gullfoss, a beautiful three step staircase waterfall, and Strokker
        a very active geysir that goes off every five minutes.    
        </p>
        <p><strong>Thermal Bread Baking</strong> At Fontana, you can bury dough in the ground, and due to the 
        natural geothermic activity, over the course of twenty four hours it will bake into the most beautifully delicious rye bread you have ever had. Be sure to actually go to the hotspring as well.
        You can enjoy the steam room and take a refreshing dip in the nearby lake. </p>
    </div>
</div>    

{% endblock %}