{% extends "travel_base.html" %}

{% block content %}
<div class="irish_river travel-article parallax">
    <div class="caption">
        <span class="border">DUBLIN</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span> remember sitting down in a little cafe. It felt very bohemian, rustic
        even. It had nice wifi, and as I drank a
        cup of tea (I have a weak stomach, so I don&#39;t drink coffee), I read the news on my phone, feeling like in
        this San Telmo neighborhood of Buenos Aires, I had finally discovered the little hipster, bohemian enclave that
        I had hoped to find. </p>
    <p>I could see this as home. </p>
    <p>This is one of two potential locations where I suspect I got the worst food poisoning I had ever experienced in
        my
        life. The little bit of milk that I had put in my tea was the prime suspect, the other being a glass of orange
        juice
        I had ordered at the airport. I shall never know what did the deed. It is one of life&#39;s great mysterious.
    </p>
    <p>I had lost my only credit card the night before. I had left it in the cab that had taken me from the port to my
        hostel. There is no more disconcerting feeling than finding yourself suddenly disconnected from the financial
        system
        in a foreign country when traveling alone. You become hyperaware of how little cash you have on hand and even
        more
        aware of how much everything costs. </p>
    <p>That play money feeling you get when abroad is gone. </p>
    <p>You feel yourself searching for a reset button that doesn&#39;t exist. You are suddenly and nearly unredeemablely
        screwed. But redemption does exist, and it comes in the form of Western Union. Without my mother (aren&#39;t
        moms
        the best?) sending me money, I may very well have had to wander the streets of Buenos Aires for the next week,
        cashless, while I waited for my flight home.</p>
    <p>That feeling of disconnect pervades Buenos Aires as a whole. There are few cities that prompt the question of
        <em>why
            does this place even exist at all?</em>
    </p>
    <blockquote>
        <p>It’s not surrounded by sea and hills, like Hong Kong and Nagasaki, nor does it lie on a trade route along
            which
            civilization has navigated for centuries, like London, Paris, Florence, Geneva, Prague and Vienna. No
            traveler
            arrives in Buenos Aires en route to somewhere else. Beyond the city there is no somewhere else</p>
        <p><strong>From &quot;The Tango Singer&quot; by Tomás Eloy Martínez</strong></p>
    </blockquote>
    <p>Buenos Aires is a bizarre place. The architecture is French; the people, Italian; and the language is Spanish,
        and
        all of it is positively in the middle of nowhere. I&#39;m sure that many Brazilians and Uruguayans would
        disagree,
        but outside of Montevideo, which feels like the younger, hippy brother of Buenos Aires, there are no great
        surrounding cities. There is no where to take the train or bus to. You are already at your destination. </p>
    <p>Tucked into the cold arid end of the southern part of the South American continent, there lies a
        turn-of-the-century
        South American Paris, frozen in time with it&#39;s resplendent beaux-art homes and gracious wide avenues. </p>
    <p>And it really does look like Paris, but it looks like Paris if things had gone <em>wrong</em> somehow. A Paris
        where
        perhaps the Soviets had taken over, and everything became a bit more drab and worn. Or a Paris where the people
        couldn&#39;t afford to stop the brutalist architectural invasion of the 1950s. Or a Paris where dictators and
        populists stripped the city of its wealth through bribes and corruption. </p>
    <p>And in many ways, Buenos Aires is that. The city was one of the richest in the world in until about the Great
        Depression, after which it swan dived into the middle income trap. </p>
    <p>Perhaps it was Peron, that proto-fascist-socialist-populist who has defined the past twentieth century in the
        country, who is the reason Buenos Aires is not considered one of the great cities of the world. </p>
    <p>My suspicion is that Argentina never properly industrialized. The country remains big in agribusiness. It eats
        the
        most beef per capita, as the tour guides will surely tell you. But farming isn&#39;t the path to enrichment
        anymore,
        as it was at the turn of the century. And as the tour guides will also tell you, somewhat dryly, Buenos Aires
        has
        already seen its best days. </p>
</div>
<div class="cork travel-article parallax">
    <div class="caption">
        <span class="border">CORK</span>
    </div>
</div>
<div class="para-tex">
    <p>span class="firstcharacter">D</span>id you really go to Cork unless you get this exact photo? You know, the one with the multi-colored row houses in the front, and the oversized cathedral in the back. You might be disappointed in Cork if you go there expecting it to look like this. That&#39;s because this isn&#39;t actually in Cork, its a thirty minute train ride away in a town called Cobh. </p>
    <p>In Cork you will find brick Irish tenement buildings, mostly unadorned besides their pitched roofs and chimneys. It is a quaint hilly town, and I was throughly unimpressed. </p>
    <p>Yes, Cork did have the charming meandering river down the center with brick warehouses along each bank, each one recently converted into food halls, breweries and hotels. It did have the quaint brick houses, and the stone temples (it also had a bit of a trash problem as well, with the main pedestrian way a little sprinkled with wrappers, old news papers and other bits of detritus). </p>
    <p>But it didn&#39;t have that perfect shot. There was no grand cathedral, no rainbow row of rowhouses. </p>
    <p>I somewhat pathetically showed my phone to our waiter, essentially asking &quot;excuse me, this was the Cork I was promised, why doesn&#39;t the one I have look like the one in the pictures?&quot;</p>
    <p>&quot;Well that is Cobh, not Cork. A train goes there every thirty minutes.&quot;</p>
    <p>And so we left, abandoning my cold turkey sandwich of limp lettuce and rubbery tomato half eaten. </p>
    <p>After arriving in Cobh, I again pulled out my phone, trying to decipher the exact angle the picture was taken. I could now see the massive church but still no row houses. I marched past the cathedral, up and onto the crest of a large hill or what felt like a small mountain. A couple blocks over, I found the row houses, I went one more street over hoping to find that famous overlook.</p>
    <p>Instead I found a six and half foot tall stone wall.</p>
    <p>There was no way that this would be end of my journey for that perfect picture. I was positive that what I was looking for, which frankly was the reason I wanted to go to Cork, was right on the other side. </p>
    <p>You see, it is not enough to go to a beautiful place. You also have to get a good picture of the beautiful place. You need this for instagram, for your friends, for social proof that you aren&#39;t just a tourist, you are an <em>aesthetic traveler</em>&mdash; not some fanny-pack-wearing, sweat-drenched American, fresh off the Carnival cruise, jaw hanging slack. But someone with such a natural lay of the land, that they&mdash;without great effort&mdash; can sniff out the most iconic vistas. </p>
    <p>I craned forward on my tip toes, my forehead beading sweet, a stain starting to form on my back and in my pits. I thought of lifting myself up over the wall, but wasn&#39;t sure if it was private property. I figured I could use my phone to look. I turned the camera on and rested it on top of the wall, and there it was&mdash; the perfect shot!</p>
    <p>The rainbow row houses formed a neat diagonal line, framing the oversized gothic cathedral a perfect one third of the way into the frame. </p>
    <p>I greedily took the picture and looked down at my phone, thrilled that this was essentially the same photo I had seen on google.  </p>
    
</div>
<div class="stone travel-article parallax">
    <div class="caption">
        <span class="border">BLARNEY STONE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">T</span>here is only one universal holiday in the world, and that is New
        Years. New Years is in many ways the only
        <em>natural</em> holiday. At its most simple, our calendar has intervals called years, and thus we have a first
        day
        of each year, hence the holiday New Years. By the simple fact that we measure time, we are predestining
        ourselves to
        New Years holiday.
    </p>
    <p>Suffice it to say it, it is wonderful to be in another country on New Years because you know there will be a
        celebration. </p>
    <p>I had arrived in &quot;America del Sur&quot;, which was the name of my hostel on New Year&#39;s Eve. The hostel
        had
        planned a potluck for New Years where patrons could have a meet and greet over international food. </p>
    <p>In my room, I meet one of my three suite mates. He was a Brazilian man in his late twenties who pretty much
        immediately told me that his wife had recently left him and that he was traveling alone. English was not his
        first
        language, and he told me this in that matter-of-fact way that you convey language when you don&#39;t know enough
        words for nuance. </p>
    <p>We very wrongly assumed that we would be only ones dorky enough to bring food to the potluck. We settled on
        spaghetti
        and meatballs for dinner, with my roommate insisting that we add carrots to the red sauce. This ended up being,
        to
        my surprise, a good touch. </p>
    <p>The tiny hostel kitchen was packed that night. </p>
    <p>There were Belgian waffles, made by Belgians; eggs and bacon, made by Brits; Swedish bread cake, made by Swedes;
        and
        of course, our spaghetti, made by the Brazilians and myself. </p>
    <p>Our spaghetti took an inexplicably long time to prepare, so I missed almost all of the food; there was plenty
        more
        dishes than those described above, and about thirty to forty people crammed into the lobby. Fortunately, I did
        have
        a chance to try the Swedish bread cake. </p>
    <p>Swedish bread cake&#39;s name is both deceptive and honest. It&#39;s not a cake, even though it has that in the
        name
        and it does look like a cake. In truth, it&#39;s a sandwich dressed up like a cake, with layers of bread, smoked
        salmon, and egg salad, topped with ham and citrus. </p>
    <p>Frankly, it sounds and looks disgusting, which I assume, is why there was so much left. </p>
    <p>&quot;Do you like it?&quot;, asked one of the two Swedish girls who had made it. I responded that I loved the
        cake.
        &quot;Perfect,&quot; she said.</p>
    <p>Now I will pause right here to say the awkward truth. Every young man would like to have two attractive young
        Swedish
        women to make them bread cake, even if they don&#39;t know what bread cake is. And yes, there is a certain
        allure to
        being able to say that you spent the night chatting up two Swedish girls while traveling abroad. And yes, these
        all
        were all thoughts I had when I asked if they were going to see the fireworks later that night. </p>
    <p>I feel no shame in these things. </p>
    <p>We walked down to Puerto Madero, which is the upscale modern district of the city. It is small, thin neighborhood
        set
        against the banks of the Rio del Plata, with big glass skyscrapers, a distinct contrast to the plaster and stone
        Parisian designs of the rest of the city. A twenty-something Saudi man, who was walking with us, said that this
        is
        the type of city he likes to go to. I remember thinking it looks like how I would imagine Tampa Bay would look.
    </p>
    <p>We counted down to the New Years and drank champagne and wine as the fireworks exploded over the port.
        Afterwords, an
        excitable British man asked me if I wanted to go clubbing with his friends in Palermo, which is the trendy part
        of
        the city. I declined and instead walked the Swedish girls home. </p>
    <p>We stopped on the Plaza del Mayo, which is the central plaza that contains the Pink House, the Argentine version
        of
        the White House. I told them about how this plaza once had been filled with clamoring Argentines hoping to get a
        peak of Eva and Juan Peron. They told me that they were going on a road trip through all of South America and
        that
        this was their second month abroad. </p>
    <p>I was impressed by this, and we created a group thread on instagram, which I named &quot;Swedish Meatballs&quot;.
        They invited me to go skydiving, but I declined, as not even the allure of two Swedish women and all the bread
        cake
        I could eat would get me to jump out of a plane. </p>
</div>

<div class="peters travel-article parallax">
    <div class="caption">
        <span class="border">PUBS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">B</span>y the time I had arrived in Salta, I had lost my credit card and was
        still recovering from a bout of food
        poisoning in Iguazu Falls. Pre-modern medicine, doctors would often prescribe sickly patients to go to climates
        with dry air and a high elevation. Salta would fit that bill perfectly. It sits in a desert basin right at the
        eastern most edge of the Andes mountains. It&#39;s quite high, and it&#39;s quite dry.</p>
    <p>I wandered around Salta, feeling a bit like an old timey tuberculous patient retiring to the American southwest.
        I had no cell service, no credit cards, and very little cash on hand. Due to persistent stomach issues, I ate
        very light, mostly bread from a supermarket, though I did indulge in a few empanadas, which Salta is famous for.
    </p>
    <p>Salta is not a large city, and the roads felt quiet and dusty, the sort of place where an errant tumbleweed would
        not be unexpected. It&#39;s not just dust and single story adobe homes though. The churches are candy striped in
        bright, contrasting pastels, giving them an almost gingerbread house appearance. Since most of the old town in
        Salta is no taller than two stories, they dominate the cityscape. With nowhere in particular to go, I found
        myself walking from church to church.</p>
    <p>Eventually, my wanderings brought me to the Museum of High Altitude Archeology, which is famous for housing the
        Children of Llullaillaco.</p>
    <p>In 1999, the bodies of three mummified children were found at the summit of Llullaillaco, a volcano about 200
        miles west of Salta, near the Chilean border. Due to the extreme dryness of the Atacama Desert and frigid air of
        the mountain, the mummies have hardly decayed and are considered the some of the best preserved in the world.
    </p>
    <p>The children were the victims of a year long Capacocha ritual that culminated in their abandonment atop
        Llullaillaco sometime around 1500 AD. The museum only displays one mummy at a time in order to better preserve
        the specimens. On that day, the museum was displaying El Nino, thus named because he was a young boy thought to
        be aged around seven years old at the time of his death. </p>
    <p>He was housed in a darkened glass display case, which would light up at the press of a button. He had been tied
        up and wrapped in a red blanket which covered the ropes. He wore a grey tunic, silver bracelets, and had single
        white feather tied to his forehead. He sat in the fetal position, with his head resting against his knees.
        Everything from his skin to his hair was perfectly preserved. It looked like he had just drifted off to sleep.
    </p>
    <p>It was a poignant moment. Not one I think I could easily put into words. </p>
    <p>You study history. You go to museums, you see golden artifacts in glass boxes, and watch movies about gladiators.
        But there is always a distance between you and the past. There&#39;s an abstraction that makes it tolerable.
    </p>
    <p>But in that room, the past is present. It&#39;s sitting the in the room and confronts you with its brutality.
    </p>
    <p>I&#39;ve always been a fan of history, but in that moment, I was glad to be in the present and to be able to step
        out of that room and once again, be worlds away from the past.</p>

</div>

<div class="trinity travel-article parallax">
    <div class="caption">
        <span class="border">TRINITY</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">A</span>t 6 am, I packed my bag with bread and sun screen and waited for the
        tour bus in the hotel lobby to pick me up.
        Yes, I was going to the Andes, but no, I would not be mountaineering. I would be shuttled from place to place. I
        would step out to take pictures and then get right back into the bus. I was looking forward to it. </p>
    <p>We would be working our way through the Quebrada de Humahuaca, a valley in the Jujuy province of Argentina
        bordering Bolivia. </p>
    <p>Our first stop was Purmamarca, a small town of a little over 2,000, built around the base of the Seven Colored
        Hill. This hill is the lifeblood of the town as it brings in throngs of tourists. It consists of alternating
        layers of red, orange, and white sediment, giving the hill a bit of a rainbow effect.</p>
    <p>The picture I would take in front of it would later serve as my de facto headshot.</p>
    <p>The town itself consisted of a series of short rectangular adobe homes. When I say the town is small, it really
        is tiny. It took no more than 15 minutes to walk from end to end. I noticed that there were a few hostels among
        the homes, presumably for hikers who were more adventurous than me. </p>
    <p>The Andes mountains fully surrounded the town. Coming from the East Coast, I had never seen mountains like this
        before. I always imagined mountains to be rocky and distinct. The Andes, at least near Purmamarca, blend
        together to form massive ridges. They appear to be covered in a layer of sandy top soil, so as a result, they
        don&#39;t look rocky but instead look like giant mounds of coarse reddish brown sand. </p>
    <p>But as we continued on, the mountains shook off their layer of top soil and rose up into red rocky giants. The
        road was dotted every so often with a smattering of single room homes. I assume that officially these
        collections of buildings were towns, but I did not recall seeing a single person walking around as we drove
        past. </p>
    <p>Humahuaca was different. Compared to the countryside, it was bustling. 10,000 people live there and on that day,
        the town was holding a festival for Three Kings Day. People clapped and danced as a procession of kids dressed
        in red ponchos and blue gaucho costumes paraded around town. </p>
    <p>There was singing, dancing, and general merriment as I awkwardly stood on the side of the street. I felt a little
        bit like I was visiting a human zoo. If I was one of those kids, dressed in a baby blue sombrero, forced by my
        parents to sing and clap up and down the town, I would not have appreciated the added embarrassment of
        international travelers gawking and taking pictures. </p>
    <p>The final stop was Tilcara, a stone fort that dates back 10,000 years. In truth, it&#39;s less of a fort and more
        a collection of stone walls and three pronged cactuses that wind up a hill. At the top, there is a stone pyramid
        that stands about 20 feet tall and a few stone houses with roofs made out of woven cactus. A group of teenagers
        were smoking and playing music next to an informational plaque. Some kids go to the mall to hang out. Others go
        to a UNESCO world heritage site deep in the Andes. To each his own. </p>
    <p>On the way back, we passed the same small towns, and I even spotted a farmer working a gravel dirt field. The
        contrast between the comfort of the air-conditioned bus and the hot Andean sun was not lost on me. I checked the
        back of my neck to find that I had developed a sunburn. I was not cut out for this part of the world. </p>
    <p>&nbsp;</p>
</div>

<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Tango Singer</strong> Tomas Eloy Martinez perfectly captures the history and culture of
                Buenos Aires in this fast paced novel. Bruno Cadogan flies to Buenos Aires to find an elusive tango
                singer. In his quest, he strays deeper and deeper into the surreal nature of the city. Read this if
                nothing else.</p>
            <p><strong>Buenos Aires: Biography of a City</strong> This plainly titled book covers the architectural
                history of the Paris of South America. Perfect for those who want to know the story behind the sights.
            </p>
            <p><strong>The Argentina Reader</strong> A collection of primary source documents, this anthology covers the
                history of Argentina from its founding to present. You can pick and choose sections to read based on
                interest.</p>
            <p><strong>Ficciones</strong> Jorge Luis Borges is the most famous Argentian writer, perhaps the most famous
                Latin American writer. Read this for a crash course in his surrealism.</p>
        </div>
    </div>
    <div class="other">
        <h4>Three Other Things</h4>
        <p><strong>Recoleta Cementary</strong> A vast collection of above ground graves in Buenos Aires' trendy Recoleta
            neighborhood, this cementary is a must do. It takes a while to find, but search out Eva Peron's final
            resting place.</p>
        <p><strong>Caminito</strong> I asked my Brazilian hostel mates if they wanted to join me. They said no. I can
            see why. This is perhaps the most touristy place I've ever been. If you are looking for street art however,
            this might be the place.</p>
        <p><strong>El Ateneo</strong> Argentians are avid readers. This former opera house was converted into giant
            bookstore and was named the world's most beautiful bookstore by National Geographic.</p>
    </div>
</div>
{% endblock %}