{% extends "travel_base.html" %}

{% block content %}
<div class="irish_river travel-article parallax">
    <div class="caption">
        <span class="border">DUBLIN</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>hen you go to Paris, it is clear that you are at the seat of a once great empire. When you go to Dublin, it is clear that you are at the former administrative capital of a British colony. It&#39;s not grand, it&#39;s quaint. There is no grand cathedral or museum. No wide boulevards, or towering castles. No palaces or really any internationally recognized landmarks. </p>
    <p>But there is certainly a charm to it. The streets are lined with red brick Georgian townhouses, complete with old chimneys poking out from the slanted roofs. There is a delightful river walk down the center, with different administrative buildings and old churches lining the quays. There is an old although somewhat unimpressive castle in the middle, a small gothically styled university in the center, and an English garden to walk through called Saint Stephens Green. </p>
    <p>Perhaps it&#39;s the English language, the familiar food, or the charming and quite talkative cabbies, but it all feels very livable, even if its not all that grand.</p>
    <p>There are still pock marks of British colonialism here, much more than there are in the States. You&#39;ll find informational plaques in Saint Stephens Green talking about uprisings and massacres that happened there in the park less than 100 years ago. Tour guides will tell you at Trinity that it wasn&#39;t until recently that the overwhelming Catholic population was able to study there. </p>
    <p>But mostly, it feels a bit depopulated. Hit first with the potato famine (or what they call the Great Hunger) and then by excessive emigration to the United States, Ireland is sufficiently lacking in Irish people. The capital only contains half a million within the city limits&mdash; about on par with Richmond, Virginia. </p>
    <p>But it&#39;s easy to forget that when walking the city quay, when the sunset sets by the River Liffey, when enjoying a Guinness in Temple Bar. It&#39;s a charming town for a walk through the green and a drink or two.  </p>    
</div>
<div class="cork travel-article parallax">
    <div class="caption">
        <span class="border">CORK</span>
    </div>
</div>
<div class="para-tex">
<p><span class="firstcharacter">D</span>id you really go to Cork unless you get this exact photo? You know, the one with the multi-colored row houses in the front, and the oversized cathedral in the back. You might be disappointed in Cork if you go there expecting it to look like that. That&#39;s because this isn&#39;t actually in Cork&mdash; its a thirty minute train ride away in a town called Cobh. </p>
<p>Cork is a quaint hilly town in the Southeast of Ireland situated a few miles from the water, surrounded by green hills and various castles, and I was thoroughly unimpressed. </p>
<p>Yes, Cork did have the charming meandering river down the center with brick warehouses along each bank, each one recently converted into food halls, breweries, and hotels. It did have the standard red-brick Irish tenement buildings, and the old grey stone churches (it also had a bit of a trash problem as well, with the pedestrianized Main Street sprinkled with wrappers, old newspapers and other bits of detritus). </p>
<p>But it didn&#39;t have that perfect shot. There was no grand cathedral, no rainbow row of rowhouses. </p>
<p>I was ruminating about the lackluster Cork aesthetic over a sandwich of dry chicken and rubbery tomatoes, staring down at that perfect picture of Cork on my phone.</p>
<p>I somewhat pathetically showed it to our waiter, essentially asking &quot;Excuse me, this was the Cork I was promised, why doesn&#39;t the one I have look like the one in the pictures?&quot;</p>
<p>&quot;Well that is Cobh, not Cork. A train goes there every thirty minutes.&quot;</p>
<p>I immediately bought tickets online and we left. </p>
<p>After arriving in Cobh, I again pulled out my phone, trying to decipher the exact angle the picture was taken. I could now see the massive church but still no row houses. I marched past the cathedral, up and onto the crest of a large hill, and then fanned out from there in search of those row houses. A couple blocks over, I found them. </p>
<p>I looked back at my phone. The picture had to have been taken at some sort of overlook, perhaps if I went one more block away, I would find what I was looking for. Instead I found a six and half foot tall stone wall.</p>
<p>There is something particularly obstinate about a large stone wall blocking your view. It felt malicious, purposeful. Did whoever own the land on the other side put it up to stop wandering tourists from poking their heads into their yard and stamping on their grass? </p>
<p><em>(It actually turned out to be a retaining wall, and the drop on the other side was about 50 feet).</em></p>
<p>I needed to see what was on the other side. I needed this for my instagram, for my website, for social proof that I wasn&#39;t just a tourist, I was an <em>aesthetic traveler</em>&mdash; not some fanny-pack-wearing, sweat-drenched American, fresh off the Carnival cruise, jaw hanging slack. But someone who could&mdash;without great effort&mdash; sniff out the most iconic vistas. </p>
<p>So I craned forward on my tip toes, my forehead beading sweet, a stain starting to form on my back and in my pits. I thought of lifting myself up over the wall, but it was too tall. I figured I could use my phone to look. I turned the camera on and rested it on top of the wall, and there it was&mdash; the perfect shot!</p>
<p>The rainbow row houses formed a neat downward sloping diagonal line, framing the oversized gothic cathedral a perfect one third of the way into the frame. </p>
<p>I greedily took the picture and looked down at my phone, thrilled that this was essentially the same photo I had seen on google.     </p>

</div>
<div class="stone travel-article parallax">
    <div class="caption">
        <span class="border">BLARNEY STONE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">&quot;I</span> don&#39;t think you kissed the stone!&quot;</p>
    <p>I stopped laughing and my smile started to fade but my body was still pumping with adrenaline, &quot;What?&quot;</p>
    <p>&quot;Like yes, you kissed the wall, but you know&mdash; never mind, maybe you did kiss the stone. I didn&#39;t really get it on video. But see how that one spot is more faded, that&#39;s the Blarney Stone. Well, who knows, maybe you did kiss it, it&#39;s all a bunch of rock. Anyways let&#39;s go back,&quot; Megan started casually walking back down the tower after delivering the soul crushing news.</p>
    <p>&quot;I didn&#39;t come here to maybe kiss the stone. I came here to kiss the stone,&quot; I said getting back in line.</p>
    <p>I had foolishly thought that the Blarney Stone was just some rock on the top of Blarney Castle. I presumed you would just walk up a flight of stairs and there it would be, perhaps on some sort of decorative pillow, ready to kiss. </p>
    <p>No, the Blarney Stone is the bottom stone on the outer wall of the turret at the top the castle. You see, there is a three foot wide hole at the edge of the turret platform that forms a gap between the turret wall and the platform. Defenders would pour boiling oil down this hole on the people below trying to enter through the castle gates. The Blarney Stone is the bottom stone on the far side of that gap. </p>
    <p>Our brochure showed an old drawing of some medieval peasant being held over the side of the turret wall by his ankles, craning forward to kiss the stone. The modern day method wasn&#39;t much better. To kiss it, two surly and somewhat desensitized Irish men hold onto you legs, as you lie on your back and extend the top half of your body across the gap and bend downwards to kiss the stone on the other side. </p>
    <p>Fortunately, there is a set of safety bars between you and the 85 foot drop, but there is something inherently visceral about extending the top half&mdash; I would even venture to say, the <em>important</em> half&mdash; of your body over the side of a ledge that no amount of safety bars or Irish men holding your legs could make feel safe. Perhaps it was the baseball cap filled with one euro bills that made the whole thing feel kind of amateur. </p>
    <p>And there I was, back again at this stupid gap, ready to kiss the stone. I laid on my back and reached out to the safety bars on the far side, the Irish men grabbed my legs, I hoisted my upper half over the ledge, and bent backward, further over the void. I quickly jammed my stupid head into opposing wall, kissing the well worn Blarney Stone, this time for sure. </p>
   
</div>

<div class="peters travel-article parallax">
    <div class="caption">
        <span class="border">PUBS</span>
    </div>
</div>
<div class="para-tex">
<p><span class="firstcharacter">&quot;W</span>ho says chivalry is dead?&quot; Our bartender said with a smile and wink as Megan handed him her card. We were back at Peter&#39;s Pub, grabbing one last Guinness before heading back to our hostel. It began to rain. </p>
<p>It was a Thursday night but the pub was lively with the sound of clinking glasses and the soft chatter of patrons. The bartenders rushed from the tap to customers, topping of pints of beer. Behind Megan, I could see a neat line of Guinnesses resting along on the bar top, with people turned toward each other in conversation. </p>
<p>Oscar Wilde had this to say about the city, &quot;Dublin&#39;s charm lies in its people, who embrace you like an old friend.&quot; He was right about the people, they had a unique ability to strike up conversations without being intrusive. They&#39;ve mastered the art of small talk. I realized this when I was in the bathroom chatting about artificial intelligence with bar-goers as I dried my hands. </p>
<p>&quot;You Irish?&quot;, they asked. I shook my head no,  &quot;Well you could be.&quot;</p>
<p>I took a sip of Guinness, I let the bittersweet, caramel taste rest in my mouth. That&#39;s the thing about last nights. You are hyper aware you are going to remember them. More so even than the highlights of a trip. They marinate, like a sip of Guinness. </p>
<p>The rain began to lighten. The stone sidewalk glowed in the reflection of city lights. We would finish this drink and go.  </p>


</div>



<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>How the Irish Saved Civilization</strong> Captures the pre-colonial era of Irish history. You will learn
            that Saint Patrick is much much more than a holiday to drink beer and wear green.</p>
            <p><strong>Dubliners</strong> A set of short stories by James Joyce about life in Dublin. Captures Dublin unique combination
                of the bucolic and urban.
            </p>
            <p><strong>Guerilla Days in Ireland</strong> A first hand account of the Irish War for Independence, written by the leader of
            of the West Cork Flying Column, Tom Barry</p>
        </div>
    </div>
    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Howth</strong> Explore the cliff walk of this seaside town, just a thirty minute train ride away from the city center</p>
        <p><strong>Trinity Long Room</strong> The main library of Trinity University is decorated head to toe in rich dark woods
        and filled with hundreds of rare and antique books. The center piece of the collection is the Book of Kells, 
        a 9th century manuscript written by cloistered Irish monks.</p>
    </div>
</div>
{% endblock %}