{% extends "travel_base.html" %}

{% block content %}

<div class="spin travel-article parallax">
    <div class="caption">
        <span class="border">FIRST DATE</span>
    </div>
</div>

<div class="para-tex">

<p>I pulled up Hinge on my phone. I wanted to double check the name. &quot;Megan&quot;, I said to myself. I watched the rain drizzle from my Uber. It was cool but not exceptionally cold for late December. I was a little nervous about time as I was going to be late. We were headed to &quot;Spin&quot;, which is a barcade specializing in Ping Pong. I thought it was a good idea for the first few dates to have an activity in case there were lulls in conversation.</p>
<p>I was excited for this date, much more than the others I had recently been on. The conversation had been good over text, and she looked cute in her pictures. </p>
<p>Megan texted me that she was running late, so we actually ended up arriving at the same time. I gave her an awkward hug. She looked at me and smiled. We stood there in the doorway for a second. I suggested we head inside and motioned for her to go ahead.</p>
<p>&quot;Here we go!&quot;, she said, nervously looking back at me as she walked into the bar. I thought that was adorable.  </p>
</div>

<div class="cups travel-article parallax">
    <div class="caption">
        <span class="border">COPPER CUPS</span>
    </div>
</div>

<div class="para-tex">

<p>I am sad to say that I had a bit of a script when it came to dates. The first two dates would be at a bar, typically one that had games, that way there would always be something to do and talk about, even when my excellent conversational skills would falter and there would be a lapse in the conversation.</p>
<p>Then on the third date, we would make homemade pasta at my house. It was a kind of demonstration of worth. Look, I am not just going to take you out to bars. I am a sensitive soul, one who kneads dough and can crush walnuts to add to store bought pesto. <em>I&#39;m worth it.</em></p>
<p>The forth date? I had no idea. To be honest, I didn&#39;t take too many girls on forth dates. I didn&#39;t really take many girls on third dates. I was a master of one date and then being ghosted. That was a script I knew front to back. </p>
<p>It felt a little uninspired, just taking Megan to the Ethiopian place around the corner. I needed something more, some sort of hook. Megan was not the type of girl who would be satisfied with a simple dinner date, I thought to myself. </p>
<p>Previously I had shown her that I could cook with the one recipe that I knew well. I should now show her that I could also make mixed drinks. I wanted something physical to show her that I had put thought into the date. I headed over to target and picked up cooper mugs with the intention of making Moscow Mules. </p>
<p>This would be the proof that Megan needed. With these mugs, I had evidence that I am thoughtful and a talented mixologist. These mugs would be what I needed to get a fifth date. </p>
    
</div>

<div class="cooper travel-article parallax">
    <div class="caption">
        <span class="border">COOPER</span>
    </div>
</div>

<div class="para-tex">

<p>I looked down at Cooper. He looked back and me expectantly. I am not sure what he was expecting but he was surely expecting something, otherwise why would I be staring at him. Megan was coming over that night. Cooper, my sweet sweet Cooper, had taken to barking uncontrollably whenever Megan and I were to embrace or even worse kiss. </p>
<p>What exactly was going through his head in those moments. Was he confused by what we were doing? Did he think I was in danger or that Megan was? Or was he simply jealous. Could that little head of his really be that petty?</p>
<p>His ears were perked up and his big round eyes fixated on me. Pure concentration. </p>
<p>I had gotten some doggy trazadone, which is really just human trazadone. I cut it in half and was considering giving it to him. It seemed a little extreme, perhaps even cruel to drug Cooper. But I was even more concerned with Megan deciding she didn&#39;t want to come over to my place anymore on account of an endlessly barking dog than I was on the ethics of medicating dogs. </p>
<p>I gave it to him. It did nothing to stop him from barking. </p>
    

</div>

<div class="fireworks-fourth travel-article parallax">
    <div class="caption">
        <span class="border">THE FOURTH</span>
    </div>
</div>

<div class="para-tex">

<p>It was a warm evening on the Fourth of July. We sat atop the lip of a railing that separated the resident accessible portion of the rooftop from the air-conditioners and other various mechanical entities. The DC skyline was a kaleidoscope of red, white, and blue as fireworks burst in all directions. Due to the height limit enforced flatness of DC, from any given rooftop, you could see every neighborhood fireworks display, and there were hundreds of such citizen led efforts. </p>
<p>I put my arm around Megan. I squeezed her closer. I knew this was the right moment, but I was nervous. Three words can carry so much weight. We watched as different displays of fireworks cropped up and petered out. I shifted along the railing, my arm around Megan began to feel heavy and forced, like a high school boy putting his arm around a girl for the first time. </p>
<p>&quot;I love you.&quot; I said. There was a moment of quiet.</p>
<p>&quot;I love you too.&quot;</p>
<p>We both sat there awkwardly beaming having shared such an intimate moment in a public place. We watched the fireworks for a bit longer and then returned to my apartment. I put on &quot;Special Lady&quot; by Ray, Goodman and Brown, and we danced as fireworks illuminated the radio tower outside my one bedroom apartment.</p>

</div>
{% endblock %}
