{% extends "travel_base.html" %}

{% block content %}
<div class="wedding travel-article parallax">
    <div class="caption">
        <span class="border">QUERETARO</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">T</span>here was a knock on the door. I hurriedly got up to answer. Jon, Kelsey, Megan and I had been waiting a suspiciously long time for room service to bring the dessert we had ordered. Truth be told, Jon wasn&#39;t exactly sure what he had ordered. We were deep in the mountains of central Mexico, in an old hacienda-turned-hotel outside of Queretaro called Hacienda Galindo, and essentially no one there spoke English. </p>
    <p>A well dressed waiter entered the room balancing a massive tray containing two large plates topped with silver lids, a somewhat grand conveyance for what we hoped would be a bowl of ice cream and some pastries. We lifted the lid to find an assortment of ice creams, cakes, and to our surprise, two plates of tomato and Alfredo pasta.</p>
    <p>When you don&#39;t speak the local language you are reduced to something resembling a state of adolescence, unable to fully express what you want to those around you. You become like a toddler, aimlessly drifting from sight to sight, only able to express your desires in the simplest terms, pointing and saying things like &quot;I want the cake, please give me.&quot; We were bloated, wide eyed beings who needed help finding the bathroom, who couldn&#39;t drink the water without getting sick, and who couldn&#39;t tell the taxi where we exactly wanted to be dropped off. </p>
    <p>Typically, in a touristy part of the world, there is an implicit pact between the local and tourist. The locals will tolerate your foolishness, gently helping you to relearn how to interact with the world, sometimes even going so far as to pretend that you had miraculously assimilated to local customs in record time and were indistinguishable from the locals themselves&mdash;all in exchange for a month&#39;s saving spent in a night&#39;s time.</p>    
    We were not in the touristy part of Mexico however. The hotel staff did not speak slow and simple. Bottled water without ice was not the default. No one was there to speak broken English upon hearing us speak broken Spanish, and as Megan and I walked the cobblestone streets of Queretaro, looking for the famed plazas and stone aqueduct that cut through the city center, we did not hear a word of English spoken. </div>
<div class="sanmig travel-article parallax">
    <div class="caption">
        <span class="border">SAN MIGUEL</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>e awoke to the sound of church bells in the main square. We had booked a hotel about a block away from there. Due to a lack of working air-conditioning, we had left the windows open to let the cool mountain air in. And while that kept the room cool, it also let in much of the city sound. </p>
    <p>We put on our clothes and walked out into the street in search of food and bottled water. Cars rattled down the cobble stone road in front of our hotel as we headed around the corner to a somewhat famous churro shop. </p>
    
    <p>San Miguel is a city dominated by its churches and squares. It used to be a bustling center of the silver trade&mdash;its population swelling to be greater than that of New York City in the 1700s&mdash;but following the expulsion of much of the Spanish population in the Mexican revolution, the town declined, freezing much of its housing stock in the 19th century.  </p>
    <p>As a result, the town remains a spiderweb of steep cobblestone streets, lined with single file sidewalks and short stucco houses, washed in red, orange, and ochre paint. The windows and doors are framed with wrought iron and hewn wood, with the occasional bougainvillea vine falling down its side. The whole thing was built into the side of a mountain, with a gradient of perhaps five hundred feet from one side of town to the other. The Spanish imposed a grid across the terrain, so when you stand at the top, you can clearly see the other end of town rolling down the hill. It rivals anything in Spain in its beauty but more than that it&#39;s remarkable for the old town&#39;s size and completeness. </p>
    <p>It&#39;s odd to think that the loss of the silver trade saved the fabric of the city. As it so often does, a steep population decline accompanied the loss of the town&#39;s principle industry. No one really lived in San Miguel between 1850 and 1950. It became a bit of a Mexican Pompeii, preserved by economic hardship rather than natural disaster.  </p>
    <p>That morning we were heading to El Mirrador, an overlook perched on the side of a mountain where we could see the whole city. I recognized that we were walking up the street our shuttle had careened down on the way in from Queretaro. The streets are so narrow there that if you stuck your hand out the window, you could run it along the stucco of the houses. Frankly, I was a bit amazed our shuttle did not sideswipe a passerby as we descended the steep cobblestone streets into the city.</p>
    <p>As much as I would like to say that El Mirrador offered the most amazing views of the city, that it took my breath away with its grand vistas, or even that I understood a bit more about the fabric and layout, it did none of those things. San Miguel is an old city, one best experienced at the human level. It is better experienced walking through it than walking away from it. </p>
    <p>And so we had more fun walking back, balancing ourselves on the narrow sidewalks, and stopping to take pictures of the principle cathedrals framed by the old townhouses. We wondered what it would be like to retire here. I couldn&#39;t imagine walking through the city when it&#39;s raining heavily, and water rushes down the mountainside and cobblestone streets, turning the carefully laid grid into a gutter. And what would we do for food? There doesn&#39;t appear to be a grocery store in the old city, just a market with improperly stored meats and vegetables. Plus we couldn&#39;t drink the water. </p>
    <p>No we couldn&#39;t live in San Miguel, but it was fun to imagine.</p>
    <p>It was getting dark so we walked to Jardin Allende, a cobblestone square at the center of town with manicured trees, a fountain, a gazebo, wrought iron benches, and roving packs of Mariachi. We could hear the sounds of kids laughing, of party goers singing in bars, and the gentle patter of couples chatting. A street dog weaved through the crowd, hoping to get scraps of the food sold by vendors in the park. La Parroquia de San Miguel Arcángel, a massive neo-gothic cathedral painted a light pink color sat illuminated in the dark across from the city square. </p>
    <p>Against Megan&#39;s forceful protest, I hired a mariachi to sing her a song. They asked what type of song I wanted. I told them something happy. Megan beamed with a mixture of embarrassment and joy as the mariachi sang, and a crowd surrounded us. She leaned against me and we looked up at the cathedral. The cool mountain air drew her close. The song ended, and we walked to the hotel. We could still hear the mariachi sing there.     </p>
        
</div>


<div class="tulum travel-article parallax">
    <div class="caption">
        <span class="border">TULUM</span>
    </div>
</div>
<div class="para-tex">
<p><span class="firstcharacter">I</span> was drenched in sweat. My asshole was raw and the tip of a very sensitive part of my body was raw, having been cut by the sharp interwebbing of a five dollar bathing suit I had bought in San Miguel. Every ounce and pore of my body felt overworked and overheated. I swigged a lustful gulp from a large bottled water bought from a street merchant. We had only gotten it a few minutes ago, but it was already warm. I looked at the white stone facade of a pyramid set against the coast, bits of green moss growing between the cracks in the steps. </p>
<p>How was anyone able to build something like this in a place like this?</p>
<p>Megan and I had both gotten food poisoning the night at our all inclusive. I can pinpoint the meal. </p>
<p>What I didn&#39;t realize about all inclusives is that staying at one is a bit like staying on a cruise ship. They control everything you do and everything you eat. And if they have bad food or do not offer bottled water on the premises&mdash;like ours did not&mdash;than you are essentially doomed to eat and drink that rotten food and tainted water. </p>
<p>Our all inclusive allowed us one &quot;restaurant&quot; night during our stay, which we were required to choose at check in. We choose the &quot;Italian&quot; restaurant. The contrast between the pomp of the service and the deplorable state of the food felt like an elaborate and cruel joke. It was as if someone who had only read about eating in books decided to open a restaurant. There was a hostess who checked to see if we had reservations, a waiter to take our order from lamented menus, and the most unappetizing and confusing meal I have ever seen in my life. </p>
<p>I ordered the steak, thinking that it was so simple in its execution that it would be too difficult to mess up. Megan got a pizza, topped with ham. The steak arrived unnaturally soft and chewy. It seemed to melt in my mouth in a suspicious rather than appetizing way. The ham on the pizza floated like chunks of vomit on a sea of florescent cheese.  </p>
<p>The waiter came by to ask what we thought. </p>
<p>I felt like saying, &quot;this is legitimately the worse meal I have ever had&quot; But instead told him that it was great but we weren&#39;t very hungry. </p>
<p>We left. I wondered if the restaurant staff felt silly putting on bowties and black vests to serve unsuspecting foreigners microwaved pizzas and mystery meat.  </p>
<p>Even if we did not get some of the most extensive diarrhea that I&mdash;a crohn&#39;s disease patient&mdash;have ever experienced before, it would still be the worst meal I have ever seen. </p>
<p>As you might suspect, we missed our 7am departure for Chichen Itza, but by noon, our stomachs had quieted and upon Megan&#39;s insistence, we took a resort cab to Tulum.</p>
<p>And so we found ourselves in the Yucatan jungle, sore and torn up, with little food and water in our stomachs and sweat dripping from every pore. The humidity hung like a cloud as we inched from pyramid to pyramid. I read a plaque saying that there was no natural fresh water source other than the cenotes, which are a sort of natural well that exposes stagnate groundwater. I read how the mayans pulled huge chunks of granite from far away quarries without the use of the wheel, which they had not yet discovered. How they moved those massive stones, drinking that putrid water, in this rancid weather astounds me.  </p>
<p>I looked up at a pyramid built along the edge of a cliff overlooking the salty blue Caribbean below, gulls circling overhead, bugs hissing and clicking in the undergrowth. What a rugged people to cut such a civilization in such hostile terrain. </p>

</div>

<div class="vid">
    <h3>Oh Mexico</h3>
    <hr>
    <p><i>A compliation of Mexico, set to "Oh Mexico" by Jeremey Zucker.</i></p>
    <video class = "vid-center" style='padding: 1rem;' 
    src="{{url_for('static', filename='images/travel/mexico/small_mexico.mp4')}}" controls> </video>
    <br>
</div>

<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Broken Spears</strong> The riveting and bizarre first hand account of the conquest of Mexico from the perspective of the Aztecs.</p>
            <p><strong>The Conquest of New Spain</strong> Best read alongside Broken Spears, Bernal Diaz provides the Spanish account of the same conflict with much greater detail.
            </p>
            <p><strong>Pedro Paramo</strong> Juan Preciado undergoes a surrealist quest to understand his heritage by traveling to a literal ghost town. </p>
            <p><strong>The Underdogs</strong> An enteraining and haunting tale covering the Mexican Revolution of 1910.</p>
        </div>
    </div>
    <div class="other">
        <h4>Three Other Things</h4>
        <p><strong>Casa de Allende</strong> The home of revolutionary general Ignacio Allende, this museum tells the revolutionary history of Mexico</p>
        <p><strong>The Sanctuary of Atotonilco</strong> This UNESCO world heritage site houses an amazing cathedral with an ornately painted roof. It is a 30 minute cab ride from the city.</p>
        <p><strong>Artisan Market</strong> A series of shops and storefronts in San Miguel, 
            the artisan market has a mix of trinkets and actually pretty good commemorative items, including a large plate I broke when unpacking in DC.</p>
    </div>
</div>
{% endblock %}