{% extends "travel_base.html" %}

{% block content %}
<div class="san-juan travel-article parallax">
    <div class="caption">
        <span class="border">SAN JUAN</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>t was our first night in San Juan. We were staying a block or two outside of the Oldtown in a Sheraton by the water. Even though it was late, we were itching to see the city. We walked up Calle de la Tanca. The city was bathed in the ethereal yellow light of fluorescent lamps, and the streets had been emptied out of people. It felt a bit eerie, like we were walking through a museum after closing. </p>
    <p>&quot;Its a little bit creepy here,&quot; my dad said. There is something naturally unsettling about a new city, especially at night, and although San Juan was built in a grid, we found ourselves getting turned around more than we anticipated. The uniform heights and layout of the pastel colonials, while charming in the light, did not provide any landmarks to anchor us. </p>
    <p>&quot;Its safe here right?&quot; My dad asked.</p>
    <p>&quot;Yeah of course, it&#39;s like tourist central.&quot;</p>
    <p>It really was. Old San Juan is ten or twelve city blocks of Spanish-Colonial townhouses built on cobble stone streets, all encased in 42 foot high city walls. It is located on a small island that sits just across the Bay of San Juan from the mainland. The city walls are bookended by two massive colonial fortresses, Castillo de San Cristobal and Castillo San Felipe del Morro. </p>
    <p>Most of the townhomes are two stories, with wrought iron balconies and flat facades. Each home is painted a different pastel color, lending an element of vibrancy and charm to the city. Colonial Spanish cities are famous for their organization, which was determined by royal decree in the late 16th century. Everything from the height of the buildings, to the dimensions of the main square, to the location of the churches was standardized. Founded in 1521, San Juan predates that decree by about fifty years and lacks some of the neatness found in other cities. The main church, Catedral Basilica Menor de San Juan Bautista, is not directly on the main square, Plaza de Armas, for example. </p>
    <p>I think the distinct lack of tourists or really anyone out and about is what was throwing us off. Although slightly apprehensive, I wasn&#39;t too worried. I patted my dad on the back. &quot;There is nothing to worry about. Don&#39;t forget, this is the United States. It&#39;s safe here.&quot;</p>
    <p>As we turned a corner into an alley, we suddenly heard the sound of someone dragging a large chain across cobblestone streets. We looked at each other and promptly decided to return to our hotel room.</p>
    <p>The next morning we emerged from the safety of our Hilton Honors hotel and ventured back into the city. Little children, their nose blotched with a strip of white sunblock, walked up and down the streets. A street vendor with a parrot enticed tourist to take a picture. A cruise ship was anchored in the port right outside our hotel. It was all too clear that there was nothing to be afraid of. </p>    
</div>

<div class="street-pr travel-article parallax">
    <div class="caption">
        <span class="border">TOURISTAS</span>
    </div>
</div>

<div class="para-tex">

<p><span class="firstcharacter">I</span>&#39;ve never been much afraid of being outed as a tourist. Some recoil from the label in a mix of shame and disgust. I remember telling an Uber driver in Philadelphia that my friends and I were in town just for the weekend to be elbowed and glared at by my fellow passengers. God forbid that our driver know that we aren&#39;t native to the exotic and cosmopolitan city of <em>Philadelphia</em> but instead were slack jawed, unwashed provincials from the neighboring Mid-Atlantic city of <em>Washington DC</em>. </p>
<p>However, I have my limits. </p>
<p>My dad and I were taking the taxi from the airport into San Juan, and our taxi driver was giving us unsolicited recommendations for our time in Puerto Rico. </p>
<p>&quot;Oh you are gonna have a great time. Let&#39;s see, what can you do? Well, the tourists love the zip line. You should do that. The tourists love seeing the turtles. There&#39;s a beach that the turtles lay eggs on, and then they hatch and you can watch them scurry to the water. You are staying in Old Town? That&#39;s perfecto. The tourists love staying there. The houses all have very bright colors&quot;</p>
<p>The driver talked about tourist in nearly the same way one would talk about children. I was half expecting him to suggest we put on Cocomelon to help lull us to sleep at night. </p>
<p>&quot;What&#39;s something we could do that&#39;s less touristy?&quot; We asked. </p>
<p>He paused. He seemed to deeply ponder the question as if he were just asked something deeply out of the normal. &quot;Well, you could go to a cock fight by the airport.&quot;</p>
<p>We politely declined as we were really looking more for something like a restaurant recommendation. </p>
</div>

<div class="fort-pr travel-article parallax">
    <div class="caption">
        <span class="border">FORTALEZA</span>
    </div>
</div>

<div class="para-tex">

<p>At its inception, the city of San Juan&#39;s purpose was primarily martial. With thick city walls, buttressed by three massive forts&mdash;one of which would eventually become the Governor&#39;s Mansion&mdash;the town of San Juan was designed stake a Spanish claim to the whole island and to defend that claim from the repeated incursions of the Dutch, English and French. </p>
<p>My father and I walked along the outer walls of Castillo San Felipe del Morro, one of the three major forts built by the Spanish, looking out into the sparkling Caribbean Sea. While Old Town San Juan was colorful and baroque with quaint cobble stone streets, and faded stucco colonials, the forts were massive towers of granite and rolling fields of green. Spanish soldiers stayed in the dusty, hot barracks of the fort, a short walk but still worlds apart from the stately homes they were there to protect. </p>
<p>El Morro was built to repel attacks from the sea, such as the 1595 incursion by English privateer Sir Francis Drake and 1797 blockade by  Sir Ralph Abercrombie. The latter of which ended when the then governor ordered a Rogativa of nuns to walk the city walls, carrying torches and singing hymns, praying for relief from the overpowering English blockade. Abercrombie mistook the hymns and torches to be from reinforcements who had snuck past his blockade and had entered the city in high spirits. </p>
<p>Castillo San Cristóbal, on the other hand, was built to repel adversaries by land. Its a massive complex, considered to be the largest fort built by the Spanish in the New World. Underneath the fort lies a series of tunnels meant to carry supplies in and out of San Juan even under the threat of invasion. Most recently, these tunnels served as bomb shelters during WWII.</p>
<p>Now a days, tourist have picnics and fly kites on the battlefields that surround the forts. My dad and I gazed back at the three flags that flew over the fort, the US flag, the Puerto Rican flag, the Cross of Burgundy, a nod to the Spanish roots of these colonial forts. </p>

</div>


{% endblock %}