{% extends "travel_base.html" %}

{% block content %}
<div class="montreal travel-article parallax">
    <div class="caption">
        <span class="border">MONTREAL</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">F</span>renchness is enforced in Quebec. All signs, public and private, must be in French, though English is permitted if the font is smaller and below the French. There is a French language ministry, and a newly created legion of language inspectors who will be inspecting if businesses do their business in French, with heavy fines for those who do not. </p>
    <p>But all of this is not long for the world said our cab driver as we first entered the city. He was a recent immigrant originally hailing from Algeria with an intermediary stop in the United Kingdom. Through his Algerian ancestry, he may have been a beneficiary of Quebec&#39;s new policy of taking immigrants from primarily francophone countries. </p>
    <p>&quot;I do not like the French much.&quot; He told us, &quot;They are too serious about how we live. I had someone from the government asking if I spoke French at home. My son and I are Algerian, so we speak Arabic.&quot;</p>
    <p>We nodded along as he monologued, &quot;I like the English much better. They are more open. More willing to let you be yourself. Montreal is becoming more and more English, and I think that is a good thing.&quot; </p>
    <p>Later a tour guide would also offer his unsolicited opinion on the centrality of French. He was a retired professor and besides a brief stint in Boston for college, had lived his entire life in Quebec. &quot;Montreal is still very much a French speaking city. I couldn&#39;t imagine someone living here who didn&#39;t speak it. I don&#39;t think you could.&quot; He told us over a large steaming plate of poutine, &quot;Its becoming more so. The government is proposing to only accept immigrants from francophone countries in the future. You know like Haiti, Algeria, Morocco, even France itself.&quot;</p>
    <p>The Quebecois often refer to the French as their cousins, ones who abandoned them in exchange for sugar colonies after losing the Seven Years War. Moreover, there is a sense of victimhood for the Quebecois. They feel that they are victims of British imperialism, rather than perpetrators of French imperialism. That the government of English Canada disenfranchised their ancestors with English written contracts they could not understand. That their identity was nearly erased by English immigration, and only saved through a strong provincial government asserting its inherent Frenchitude. Matter of fact, they nearly declared independence from Canada in the 90&#39;s, losing a popular referendum on the subject, 49-51.   </p>
    <p>It&#39;s a tiny enclave of Frenchness paddling hard against a perceived torrent of globalism. Multiple tour guide mentioned with furrowed brows that Quebec once had the highest birthrate in Canada but now has the lowest. There is a pervasive neuroticism that the French-Canadian culture is slipping away. </p>
    <p>But for all the dramatic handwringing, the Frenchness of Quebec is in fact why we wanted to visit. We wanted to step on the metro and hear the announcements in French. We wanted waiters, servers, and shopkeeps to greet us with a &quot;Bonjour!&quot; We wanted to walk around Old Montreal and pretend just for the moment that we were in the streets of a much colder, smaller Paris. </p>
    <p>And as we first ventured out to the streets of Montreal, we found the locals conversing in French. We found the signs to be in French. We found that everyone assumed we spoke French, and only after seeing our blank stare would that ask if would prefer French or English for the encounter. The Frenchness remains safely in tact. </p>

</div>
<div class="quebec_city travel-article parallax">
    <div class="caption">
        <span class="border">QUEBEC CITY</span>
    </div>
</div>
<div class="para-tex">
        <p><span class="firstcharacter">&quot;I</span>magine coming here every Christmas&quot;, Megan said. I looked down at the mulled wine and to-go fondue we had bought at a Christmas market set up in the shadow of the imposing Chateau Frontenac, its weathered red brick, imposing turrets, and grayish-green roof looming over us. </p>
        <p>I leaned against the railing of the sun deck and looked down at the Saint Lawerance. There was piles of snow and ice on the deck. The white and green victorian gazebos serving no function due to the cloudy winter sky. There was soft music playing and couples walking together in heavy coats, passing from stall to stall. </p>
        <p>&quot;No, we couldn&#39;t possibly. It would simply be too much.&quot;</p>
        <p>&quot;But imagine taking our kids here, telling them that this is where Santa lived.&quot; That would be fun I thought to myself. I don&#39;t think I have ever seen a hotel quite as large as Chateau Frontenac, all of Quebec City appears to be built around it. What if we said Santa lived in there? </p>
        <p>&quot;No, we can&#39;t. It&#39;s like buying vineyard in France or Spain. It&#39;s something you talk about doing but for whatever reason never actually do,&quot; I said. </p>
        <p>We finished our mulled wine and decided to walk to Petite Champlain. </p>
        <p>I know we couldn&#39;t come here every Christmas. It would be far too pretentious, something the rich kids in a convoluted Disney Channel movie would do. People would hate us. But you know, what if we did it anyways?</p>
        
</div>
<div class="painting travel-article parallax">
    <div class="caption">
        <span class="border">PAINTING</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">&quot;A</span>lain Lacaze shuffled forward in thick socks and sandals, draped in loose fitting sweaters and baggy pants. He extended his ancient hand and gave a warm smile. </p>
    <p>&quot;Anglais ou français?&quot; he said, clasping his hands together, &quot;English! Well it is wonderful to meet you both. It keeps me young to meet the customers.&quot; We had found his shop just outside of Petite Champlain, down in the lower city, on a cobblestone street along the Saint Lawerance. </p>
    <p>We had been looking for a good painting, but hadn&#39;t had much luck finding one. We were stumbling from shop to shop, trying to pull out at least one snowy Quebec landscape out of the piles of modern art that littered the galleries in lower Quebec. We were lucky to find him. The windows of his shop were filled with oil paintings of Chateau Frontenac in the summer, children playing hockey on a frozen Saint Lawerance, and anonymous pedestrians trudging through rainy upper city streets. </p>
    <p>Alain Lacaze smiled at us and looked over to the woman who worked at the front desk. </p>
    <p>&quot;You know Alain once studied at the Ecole des Beaux-Arts de Paris. Its the finest art school in the city,&quot; she said. We nodded politely.  </p>
    <p>&quot;Why don&#39;t I show you the engraving?&quot; He shuffled over to a big metal printing press. &quot;So I make the engraving using this press.&quot; He showed us the metal canister and the delicate etching he had dug into it. &quot;So I take a large metal plate or sheet like this. And I spend days and days etching little lines into the metal with this thing here&quot;. He showed us what looked like a cross between a knife and pen. &quot;You then wet the plate with ink and then run it through the press, and voila, you have your print.&quot;</p>
    <p>&quot;You two bought prints from his Quebec in Winter collection.&quot; The lady from the front desk informed us, &quot;Would you like a picture with Alain?&quot;</p>
    <p>Of course we would like a picture with Alain. I wonder what it was like to be Alain. To move to Quebec from France, to spend your summers and winters painting and etching, to live upstairs in your shop, along the cobblestones, in such a quaint winter town. To be the type of artist big enough to have your own gallery but not so large as to have exhibits in museums. It is quite an accomplishment to earn a living by making art. </p>
    <p>Alain stood between us, placing his arms around our shoulders, his big bushy white eye brows rising as he smiled.</p>
    
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Three Other Things</h4>
            <p><strong>Mile End</strong> The hip young neighborhood found a mile out of the city center. The streets are lined with 
                cafes, jewish delis, and brick rowhouses with steep porches. Be sure to get the gnocci.</p>
            <p><strong>Montmorency Falls</strong> A towering waterfall only a few miles from Quebec City. At 272 feet, the falls are 
            99 feet taller than Niagra Falls.</p>
            <p><strong>Basilica of Saint Anne</strong> A throw back to the more actively Catholic days of Quebec, this basilica is slightly taller 
            than the Montemorency falls with a spire height of 299 feet.</p>

        </div>
    </div>
    <div class="other">
        <h4>Read Before Going</h4>
        <p><strong>Montecalm and Wolfe</strong> A dual biography of two general destined for a collision course. 
            Their battle at the Plains of Abraham ultimately threw the French out of North America and established Canada as a British colony.
        </p>
        <p><strong>This Island in Time</strong> A collection of stories from Montreal's past, each divided by subjects such as religion, crime,
            and American invasion and influence. 
        </p>
        <p><strong>The Favorite Game</strong> The story of Lawrence Breavman, his rites of passage, and the jewish experience in Montreal,
            written by the city's most famous song writer and author, Leonard Cohen. 
        </p>
    </div>
</div>
{% endblock %}