{% extends "travel_base.html" %}

{% block content %}

<div class="mix travel-article parallax">
    <div class="caption">
        <span class="border">ROMANS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">T</span>he modern roman way of living is summed up in one word: <em>arrangiarsi</em>, which in English roughly translate to &quot;we will figure it out.&quot; </p>
    <p>Trains are on strike? &quot;Eh, <em>arrangiarsi</em>.&quot; </p>
    <p>Hotel keys don&#39;t unlock the front door? <em>Arrangiarsi.</em></p>
    <p>Pedestrians need to cross three lanes of traffic? &quot;Let&#39;s just slap down a painted cross walk, and I don&#39;t know, they will <em>arrangairsi</em> from there.&quot; </p>
    <p>So what happens when a very &quot;Type A&quot; tourist visits a very &quot;Type B &quot;country? Nothing short of disaster. </p>
    <p>Upon arriving to my hotel, my aggressively chill inn keeper (for lack of a more modern word) informed me that he will only accept cash as payment for the stay, because he &quot;doesn&#39;t get online banking.&quot;</p>
    <p>&quot;Oh&mdash;I didn&#39;t realize. I didn&#39;t bring that much cash,&quot; I stammered, suddenly keenly aware that I did not bring a debit card. And definitely aware that I didn&#39;t bring enough cash to cover <em><strong>nine whole nights</strong></em>.</p>
    <p>&quot;That&#39;s fine, you can just pay me at the end of your stay,&quot; Frankie replied.</p>
    <p>I wanted to say: &quot;Well its actually not fine because I don&#39;t have money to pay you, and I would think you would be at very least equally concerned about that as I am.&quot;</p>
    <p>But Frankie wasn&#39;t concerned.  </p>
    <p>That initial interaction set the tone for how I came to understand the modern southern Italian attitude about life. There is just a sort of looseness to order that I was not anticipating in a first world country. Cars intermingled with pedestrians on the street. Lines snaked far back and turned into crowds. Scammers aggressively pitched their &quot;wares&quot; without fear of law enforcement. </p>
    <p>Yet, the romans still <em>arrangairsi</em>. </p>
    <p>Frankie and I would <em>arrangairsi</em> about the payment eventually. He agreed to allow me to paypal his girlfriend the full balance, which only took a couple of attempts and a few not-so-Type-B messages from Frankie and his unnamed girlfriend.</p>
    <p>One of my hotel mates, Pierre, was also unaware of the all cash policy prior to arriving and was considering just not paying them at all. Perhaps he made a better Roman than me.</p>
    
</div>

<div class="bridge travel-article parallax">
    <div class="caption">
        <span class="border">THE WOLF</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span> am surprised that moped drivers don&#39;t collect pedestrians like flys on a windshield. The narrow, crooked, and cobbled streets of the city center don&#39;t really have room to accommodate pedestrians, mopeds, and cars&mdash; yet all three coexist in that crammed space. </p>
    <p>Moreover, the pedestrians are usually the tourist sort&mdash; ones whose faces are either buried in their phones or staring wide eyed at the various medieval and renaissance houses. Cars eek through the crowds as if they are trying to escape a riot, which according to my American mindset, they appear to be.</p>
    <p>Roman emperors once described ruling over the mobs of Rome as riding on the back of a wolf. You grasp as long and tightly as you can until you inevitably get bitten. Visiting modern Rome can feel the same. </p>
    <p>It takes a day or two to get your mind around the city center. This is where you can find the Trevi Fountain, the Spanish Steps, Piazza Navona, and of course, the much older Pantheon. I call this section Renaissance Rome. </p>
    <p>It&#39;s terribly crowded, completely unnavigable, and packed with tourists and the most aggressive scammers I have met in Europe. </p>
    <p>Truly&mdash; the scammers were horrendous. At every major site, an African man would complement my shoes, and when I ignored his initial advance, then ask me if I was also from Africa. As if such an absurd statement would force me to interact. Oftentimes, after noticing that I was alone, they would follow me and try and tie a bracelet to my wrist. </p>
    <p>I wanted to turn to them and say, &quot;Look you are going to have to rob me with violence&mdash; in front of the hundred other people who came here&mdash;in order to get a dime from me. I got nothing for you.&quot;</p>
    <p>It takes a few days, but eventually Rome does get better.</p>
    <p>The second day, or perhaps the third, you will come to appreciate the space more and more. Having taken pictures at all the major spots, you will walk a more leisurely pace.  You will have your first pistachio gelato, or maybe you will discover a hidden pasta spot (for me, Pastificio Guerra with its five euro trays of pasta). And eventually, you will be unbothered about constantly walking in circles. You will be happy to wander. </p>
    <p>Only then&mdash;once you stop trying to come to the city and let the city come to you&mdash; will you tame the wolf.  </p>

</div>

<div class="ruins travel-article parallax">
    <div class="caption">
        <span class="border">RUINS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>ithout the ruins, Rome is nothing. They are core to the identity of the city and to its appeal. They provide almost a moral gravity to Rome&mdash;something to make <em>sense</em> of the confusion that is that city. </p>
    <p>Of course Rome is a tangled mess of streets. They have to build around the Coliseum! Of course, the metro doesn&#39;t really go anywhere important! There is too many artifacts in the ground to make a real subway system!</p>
    <p>At its heart, Rome has always been a city of confusion and bustle. Follow the triumphal path, starting in the shadow of the Coliseum, past the arches of Constantine and Titus and enter the forum, and you will see the remains of the chaotic beating heart of ancient Rome. This mishmash of temples, columns, and cobbles housed the economic and social heart of Rome and by extension the western world for a thousand years. </p>
    <p>I loved seeing the Coliseum. I loved it bathed in afternoon glow, peaking out between buildings in the adjacent neighborhoods. I loved walking the worn steps up the different levels of the stadium. I loved walking from there into the forum and imaging the bustle of the city. I loved hiking the Palatine hill, seeing the orchards and gardens and the remains of Augustus&#39; palace. And even seeing the supposed hut of Romulus himself.</p>
    <p>But most of all, I loved the Theatre of Marcellus, found at the base of the Capitoline Hill. I loved it because I stumbled upon it by accident. I was headed to the &quot;Mouth of Truth&quot; to take a cheesy tourist photo when I saw a double arcade of ancient columns, making up the facade of a building that hugged the road. Instinctively, I followed a set of placards to see what I was looking at.</p>
    <p>It was an ancient theater! Built in the late roman republic. And&mdash; a true rarity for Rome&mdash; it was both free to explore and empty of tourists. </p>
    <p>The theater was part of a larger complex uncovered in fascist times, painfully excavated by destroying a series of Renaissance homes that had been built on top of the ruins. A narrow gravel path, dotted with informational placards, now wanders its way around the theater, through a few free standing pillars, and by a temple of Jupiter. That path actually now serves as a vital short cut between the neighborhoods of Sant&#39;Angelo and Ripa, meaning its function is as practical as it is historical. </p>
    <p>The jumble of Rome makes sense when you view it as a layer cake. Civilization built on civilization, year after year, accumulating new wonders and ruins, all without a guiding hand. Confusion and bustle are a two thousand year old tradition in the eternal city.</p>
</div>

<div class="vatican travel-article parallax">
    <div class="caption">
        <span class="border">VATICAN</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>e watched the city center turn to suburbs, then to farmhouses, then to nothing at all. We were on the Norman coast now. We pressed on as the rain misted around us, kicked up by the blowing wind. Long lapping waves stretched across the white sand beach, forming a tide pool that stretched miles out to sea.</p>
    <p>Mount Saint Michael stood on the other side of a bridge&mdash; a delicate castle, built atop of a massive hunk of granite. It looked as if a giant had scooped out a mountaintop abbey and placed it gently on the shore. The tide was in and water danced with the drizzle of rain. </p>
    <p>As we crossed, the weathered white granite walls of the city came into clearer focus. The little town of enclosed blue roofs and hewn wood windows frames, all built to support the monks who mediated in the castle above, drew closer with each step. </p>
    <p>We passed through the city gate and followed the town&#39;s single road as it wound its way to up to the abbey at the mountain top. Entering the abbey, the drizzle stopped, and the spring sun opened up on a plaza overlooking the tidal pool. Its waters began to pull back, revealing soft wet sand. We entered the temple. </p>
    <p>Inside, beneath the soft rainbow light cast by a massive stained glass window, monks strode across the chapel floor deep in prayer, lighting candles and reciting hymns under their breath. </p>
    <p>A place like this is the pinnacle of human achievement. It fills no practical purpose&mdash; other than to offer any of those lucky enough to pass through their doors what we all are searching for&mdash;a connection to something larger. </p>
    <p>Humanity is unique in that we are conscious of the fleeting nature of both ourselves and of the world. And when we encounter things that seem to defy that fundamental law&mdash; the sweeping view from a mountain top, pillars of rocks standing against massive waves crashing on a black sand beach, or an ancient abbey sitting on a rocky outcrop&mdash; we are filled with a sense of awe. These thing existed before me. And when I am gone, I am sure they will exist still.</p>
    <p>That same impulse is the source of our fascination with history. Ceaser conquering Gaul has no real impact on my day to day life, but if an act as consequential as that cannot be immortalized as meaningful then what meaning can be found in anything I do.</p>
    <p>I can steal a bit of meaning in a place like this. </p>
    <p>I can walk the same worn steps, through the same doors, and see different monks perform the same prayers&mdash; all unchanged from centuries before. I can light a candle in the back by the pews, drawing a connection to all those who had done so before. I am captivated to do what they did in such a beautiful and ancient place. And when people light a candle in the future, they will similarly captivated by the fact that I had done it in the past. I become a part of the tradition, of the journey, of the draw of a place like this. </p>
    <p>The flame lights the wick, and the connection is drawn. The candle never really goes out and neither will you. </p>
    


</div>

<div class="milan travel-article parallax">
    <div class="caption">
        <span class="border">MILAN</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>e were never supposed to see a place like this. King Louis IX built it, not as a place of worship, but as a reliquary for his stash of holy relics, bought from Constantinople, including what he believed to be Jesus&#39; crown of thorns. </p>
    <p>Megan and I stood there as the soft light from the cloudy midday sun lit the stained glass. The walls are almost entirely composed of 15 massive stain glass windows, each standing 50 feet tall. The supports between the glass led up to a vaulted ceiling, painted a dark royal blue. There was perhaps fifty other people in the room, though it remained quiet, occasionally enforced by a &quot;shush&quot; by the staff that guarded the chamber. </p>
    <p>At the front sits an alter, where presumably the crown of thorns would rest&mdash;like a throne for a ghostly king. I imagine that King Louis kept commoners out of this room, not just to prevent damage to his costly relics, but so that the ephemeral nature of the crown room would remain unperturbed, inhabited only by the dull colored light of the stained glass, by the wisps of smoke from chandeliers, and by the crown sitting atop the empty throne. A court for the divine, where King Louis hoped to lure the Holy Spirit with his crown of thorns, where the disciples could gather in peace. An eternal place, undisturbed or changed by the city around it.</p>
    
</div>

<div class="col_night travel-article parallax">
    <div class="caption">
        <span class="border">MIDNIGHT</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">A</span>long the banks of the Seine, across the Trocadero, rises the Eiffel Tower. Megan and I sat there first under its shadow and then under its glow. It was the early evening and we were waiting for the sunset to finish setting so we could get a picture of the lit up tower in the early twilight. </p>
    <p>We had the classic French picnic supplies &mdash; minus the blanket &mdash; red wine, bread, cheese, little plastic cups and paper plates. Megan posed with her new engagement ring as we sat there. I played the part of the photographer &mdash; though my pictures were no good. </p>
    <p><em>Two drifters off to see the world</em></p>
    <p>Sitting there I thought of that lyric from the song &quot;Moon River&quot;. I imagined ourselves drifting down the Seine, with all the sights of Paris floating by.</p>
    <p><em>Drifters</em>. There is something peaceful of the word. Drifting through life without having to actively paddle, our destination predetermined, but at peace since we drift together. </p>
    <p>I tossed bits of bread towards a pigeon, luring it ever closer to Megan. She batted it away. What mixed signals it had received. </p>
    <p>Wandering merchants paced back and forth across the green, tempting tourists with bottles of wine and miniature statuettes of the Eiffel Tower. They would hide their wares beneath their coats each time a cop car passed too close.</p>
    <p><em>Wherever your&#39;e going, I&#39;m going that way.</em></p>
    <p>The sun began to set. My phone had died and Megan&#39;s was on its last few percent. She was filming the Eiffel Tower, hoping to capture the exact moment it lit up. In the end, she wouldn&#39;t be able to capture the exact moment, but it didn&#39;t matter, we were together, and we knew that we always would be. </p> 
</div>

<div class="vid">
    <h3>La Mer</h3>
    <hr>
    <p><i>A compliation of France, set to "La Mer" by Chantal Chamberland.</i></p>
    <video class = "vid-center" style='padding: 1rem;' 
    src="{{url_for('static', filename='images/travel/france/paris_low.mp4')}}" controls> </video>
    <br>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Argentina Reader</strong> A collection of primary source documents, this anthology covers the
                history of Argentina from its founding to present. You can pick and choose sections to read based on
                interest.</p>
            <p><strong>Ficciones</strong> Jorge Luis Borges is the most famous Argentian writer, perhaps the most famous
                Latin American writer. Read this for a crash course in his surrealism.</p>
        </div>
    </div>


    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Catacombs</strong> Underneath the city, even below the metro, winds tunnels and tunnels of catacombs. In here lie the 
        located remains of thousands of people. The bones are stacked and arranged in macabre patterns.</p>
        <p><strong>Lourve</strong> This is, without a doubt, the best museum in the world. It is also a zoo of people Entire countries could be 
            run off the ticket sales.</p>
    </div>
</div>
{% endblock %}