{% extends "travel_base.html" %}

{% block content %}

<div class="road travel-article parallax">
    <div class="caption">
        <span class="border">ON THE ROAD</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">D</span>riving through Grand Staircase-Escalante National Monument, with my entire
        life crammed into the back of a van,
        I felt wonderfully untethered from normality. I had enough food and water to last a week or two, and no
        where I had to be until April 16th. I could go quite literally anywhere and do almost anything. </p>
    <p>Inspired by overly romanticized instagram posts and YouTube videos, my girlfriend Megan and I had decided to rent
        a campervan to take on a two week road trip across the southwest. We were not campers. In fact, neither of us
        had been camping since we were kids. But we were both in our late twenties, and with the long yawning expanse of
        the rest of our lives staring at us, we felt it necessary to make adventurous memories while still young. </p>
    <p>We had planned for the trip to last two weeks, but due to a scheduling conflict, I ended up spending the first
        week alone. I would fly into Vegas, visit Zion, Bryce Canyon and Capital Reef, and then meet up with Megan in
        Grand Junction in route to Moab and the rest of the trip. </p>
    <p>And so it was that I found myself alone in the van teetering atop canyon edges as I barreled my way across Utah
        State Route 12 from Bryce Canyon to Capital Reef. The twenty dollar gas station aviators did little to protect
        my sunburnt eyes, and I was nursing a head ache from altitude sickness. </p>
    <p>But by this time, I was feeling a bit more secure in my ability to live out of the van. In the front, there was a
        drivers and passengers seat, with a forty pack of water between. Directly behind the front seats was the bed. I
        had bought a 60 dollar mattress topper and some cheap navy blue sheets from Walmart. That combined with the down
        comforter provided by the van company and battery powered string lights bought from Amazon created a remarkably
        comfortable sleeping quarters&mdash;ones that stood up well even to a twenty degree night in Bryce Canyon and snow in
        Great Dunes. </p>
    <p>In the far back, there was the kitchen. This consisted of an overhead light, a propane powered camping stove, and
        a solar powered fridge. It mostly served as a pancake/soup station for campsites that forbade wood fires. The
        outside of the van was covered in mural of a dragon guarding a treasure chest, and the van itself was called
        &quot;Dragon&quot; by the company. </p>
    <p>I must admit some of my favorite memories on the trip were the drives between parks, particularly the drive
        through Grand Staircase. This part of America is empty. Driving between Vegas and Zion, I saw
        plenty of places to stop and get gas, and the same was true between Zion and Bryce, but between Bryce and
        Capital Reef, there was nothing. No exits, no roadside gas stations, no farms, no houses. Just desert, canyons,
        and a road.</p>
    <p>There was however a scenic turnoff where you could overlook a particular attractive vista of the sandstone
        canyons, and in this turnoff, there was a sign which captured the feeling of driving through the empty
        expanse of the southwest, all alone in a van named dragon, quite well. It read:</p>
    <blockquote>
        <p>You&#39;re looking out over some of the wildest lands in the United States. The last area to be mapped in the
            lower 48 states, this rugged region remains a sparsely loaded frontier.</p>
        <p>You&#39;re standing in the 1.9 million acre Grand Staircase-Escalante National Monument, where conserving the
            land&#39;s wild character is a top priority. These public lands don&#39;t just protect astounding scientific
            values. <strong>They safeguard one of the rarest natural resources of all&mdash;the opportunity for solitude&mdash; in
                a landscape sculpted by wind, water, and time.</strong></p>
    </blockquote>
    <p>&nbsp;</p>
</div>
<div class="zion travel-article parallax">
    <div class="caption">
        <span class="border">ZION</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">&quot;W</span>ho told you that?&quot; I explained the other shuttle driver had. &quot;Well he&#39;s lying to you. That&#39;s against policy.&quot;</p>
    <p>I was trying to catch an early shuttle ride back from Zion. I was surprised to learn that Angel&#39;s Landing was closed that day and that I did not have the required rubber pants to wade through the narrows in early April. It was noon and my return shuttle was scheduled for 5 pm. </p>
    <p>I stared at him blankly. He looked me up and down, sizing me up as if I was a potential felon or worse&mdash;a huckster trying to catch a free ride on his company&#39;s shuttle. He squinted, &quot;It&#39;s not your fault though. Go ahead and hop in the front seat.&quot;</p>
    <p>&quot;Now?&quot;, I asked. </p>
    <p>&quot;Yeah, when else?&quot;</p>
    <p>So I got into the front seat of the bus, and to my surprise, we were off, just me and him&mdash;a full twenty minutes before his next shuttle was supposed to leave. </p>
    <p>&quot;I hope I don&#39;t put you off with my sense of humor. I&#39;ve had complaints before. You play video games?&quot; </p>
    <p>&quot;Yeah I guess so&quot;, I said, figuring that this conversation was the price of the early ride back. </p>
    <p>He had an unsettling habit of mirroring back whatever I said to him but larger. After I agreed that video games were in fact fun, he revealed that he was a world renowned Call of Duty player.  He wanted to know what I did for work, so I told him I was a computer scientist. He told me that he was also a computer scientist. He just drove the van as a hobby and actually had a six figure job offer awaiting his decision back home. </p>
    <p>Presumably he thought that I wasn&#39;t sufficiently impressed by his Call of Duty and hacking skills and remarked that I was a little too quiet. I told him that I was feeling off because I hadn&#39;t slept the night before, which unfortunately was true.  He then told me that he <em>also</em> hadn&#39;t fallen asleep last night, and in fact, he was up coughing up blood all night. </p>
    <p>This is not a welcome comment when you are alone in a van with a stranger in the time of covid. I told him that he should get a covid test, and he told me that it was fine, he coughs up blood all the time and that he would just get an iced tea.</p>
    <p>I was able to set aside that absolutely bonkers line of thinking because we were back at the campsite. Honestly, I was just thrilled that we had not careened off the side of the cliff while he recited his COD stats at me.</p>
    

</div>
<div class="bryce travel-article parallax">
    <div class="caption">
        <span class="border">BRYCE CANYON</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span> asked about the weather, having read that it would be below freezing. The woman at check-in told me that yes, it would be below freezing, but it wouldn&#39;t be a &quot;hard freeze&quot; that night. She then instructed me to purchase some fire wood, &quot;just in case&quot;. </p>
    <p>Located in a forest about a fifteen minute drive from the entrance to the park, my campsite was pretty simple. It had a designated place to park and a circle of stones, signifying where firewood should be placed. Due to its high elevation, Bryce Canyon was on any given night 10 degrees colder than any other park I would be visiting on my trip.</p>
    <p>I pulled into my spot and set up the firewood. I had bought a lighter and newspaper on my way over here. I yawned. I had slept perhaps only two or three hours the night before in Zion. </p>
    <p>For the past couple of months, I often found myself awake at five in the morning. I would lay all night with my feet propped up on the love seat in our spare room, facing the window, waiting for the first rays of the rising sun to peak through the blinds and greet me, signifying that I had missed another night of sleep, and would have to work on an empty tank.</p>
    <p>Camping was a lot harder than I thought it would be. It certainly wasn&#39;t restful. I needed a bed. The van wasn&#39;t freeing. I felt like I had rented a little jail cell. </p>
    <p>I endeavored to spend as much time outside the van as possible, rather than try and force myself to sleep before sleep could come.</p>
    <p>I built a fire and called my mom. It was nice to hear her voice. I poked at the fire. The sky was clear. I could see hundreds of stars. It was pretty cold.</p>
    <p>I asked her if she had done anything like this. She told me about how her and her family would go on long car trips around the country as she was a kid, how she had actually stayed in the car to read a book on a trip to the Grand Canyon and missed the whole thing, how she had gone to a corn palace in South Dakota and an ice hotel in Montreal. </p>
    <p>She told me how exotic Quebec felt, how it was her first time in a place where they didn&#39;t speak English. She told me about seeing the beach for the first time in Delaware, and how far a drive that was from Iowa.</p>
    <p>I had gone through three bundles of firewood and was sitting as close as possible to the burning embers to stay warm. I felt sincere fear about going into the van. I felt like once I did, I would restart the vicious cycle of sleeplessness and frustration. All the other campfires had gone out. I hesitated to look at my phone to see the time, but I had to plug it in. </p>
    <p>It was midnight mountain time, 2 am eastern, and my mom was still on the phone. I told her I should go into the van and try and get some sleep. She told me she would stay on the line with me. </p>
    <p>The next morning I woke up early and felt the crisp mountain air. I had fallen asleep listening to my mother talk about her brother and sisters and the lives that they had led. </p>
    <p>I hiked to the lip of the Canyon, past a flat somewhat rocky forest of evergreen trees. I saw the trees clear, and the horizon open up onto a miles and miles of desert and canyon lands, onto red sandstone walls, pockets of snow and clear blue skies, onto dusty trails and tourists on horseback, kicking up sand as they marched into the canyon.</p>
    

</div>

<div class="reef travel-article parallax">
    <div class="caption">
        <span class="border">Capitol Reef</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">S</span>omeone might mistake me for a seasoned pro at this point. I wasn&#39;t one, but someone might mistake me for one. I was driving a painted van across the southwest. I had sunglasses and a camelback backpack. I had developed a base tan and had a easily accessible stash of cliff bars. I could light and maintain a fire, one which I would use to boil water for ramen or cook cans of soup. I had even slept most of the night the previous night. </p>
    <p>Matter of fact, a fellow camper even thought I knew what I was doing. </p>
    <p>&quot;So you are telling me that you have never been camping before?&quot; I was eating dinner with a girl from the adjacent plot at a campground just outside of Capitol Reef. </p>
    <p>&quot;Once back when I was little.&quot;</p>
    <p>&quot;Well you are certainly jumping into the deep end&quot;, she said somewhat incredulously. She didn&#39;t mean it as a compliment but I took it as one. I chewed on the thought of myself as being an adventurous person, a risk taker, someone who squeezes every drop out of life. </p>
    <p>&quot;Usually I am able to get a spot in the parks,&quot; she continued. &quot;But now too many people, people like you, are coming to the parks.&quot; She laughed. &quot;I guess that sounded kinda mean.&quot;</p>
    <p>&quot;Eh, it&#39;s fair.&quot; Our spots were at the edge of the grounds abutting a cow pasture. There was a heard of cows and a single buffalo grazing in the golden rays of the setting sun. &quot;I am definitely not good at camping.&quot;</p>
    <p>I was getting better however. It was a baptism by fire, but this camping trip was curing my insomnia. It was the rapid change in temperatures rather than the change in light that was aligning me to normal sleep cycle. </p>
    <p>It was so easy to wrap myself in thick blankets and doze off when it was freezing outside at night, and so hard to stay in those same blankets when morning sun heated the van to 90 degrees. </p>
    <p>She finished her subway sandwich. &quot;I&#39;m gonna go to sleep,&quot; she said. </p>
    <p>I told her I would do the same. I still had some fear that I would have trouble sleeping, but I had a big day the next day. I would be hiking 9 miles nearly straight up along the Grand Wash trail where the Butch Cassidy and the Sundance Kid would hide out after robbing banks. But more importantly, I would pick Megan up in Grand Junction and then double back to Moab.</p>
    <p>It was my last night alone in the van.    </p>
    

</div>

<div class="arch travel-article parallax">
    <div class="caption">
        <span class="border">ARCHES</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">T</span>he town of Moab shares a certain resemblance to the red planet. The forces of nature here are quite different than in the East. All of red rock country is essentially rusting sandstone and hermatite shale. Water and wind twist this oxidized rock into bends and arches, forming its famously alien looking landscape. </p>
<p>In the town itself, there is one main strip, lined with t shirt shops, old saloons, and a few restaurants. The town originally grew up around the uranium trade, lending more to its space age vibe. </p>
<p>Megan and I had only a day in the park. And besides Zion, Arches would be the most crowded place we would go. We first attempted to enter the park around noon but was greeted with a sign informing us that the outdoors was full that day and that we should try again in a few hours. </p>
<p>When we did return, we found long trail of cars winding their way into the park and a full parking lot at the trailhead for Delicate Arch. </p>
<p>The trail was not long and only contained one steep section, which was covered with line of people, marching forward like ants. The arch itself sits in a natural amphitheater and through the arch you can see miles of canyons and the La Sal mountains the background.  </p>
<p>In the foreground, you will almost surely find a family of tourist standing directly in the center of the arch. I cannot explain how frustrating this is. There is nearly 100 people all standing around the arch, clutching their cameras and smart phones, hoping to get a picture of the arch, and then there is this one family, resting themselves against the side of the arch, chugging water and taking deep restful stretches. </p>
<p>The social blindness it requires to not notice 100 faces glaring down at you as decamp in front of the natural wonder that many have traveled hundreds of miles to see truly astounds me. </p>
<p>But for every 100 people, there is always one who is too oblivious to realize what a pain they are, and who needs someone else to kindly remind them that everyone had traveled here to get a picture of the arch, not them and the arch. I, of course, was that person.  </p>
<p>Everyone who writes about Moab quotes Edward Abbey, so I must do the same. His book &quot;Desert Solitaire&quot; careens between vivid descriptions of the uranium dusted landscape, epistles on American politics, and diatribes against the commercialization of the desert. </p>
<p>After being forced to shoo away a family of tourists, I found myself thinking of this following passage:</p>
<blockquote><p>Industrial tourism is a threat to the national parks. But the chief victims of the system are the motorized tourist. They are being robbed and robbing themselves. So long as they are unwilling to crawl out of their cars they will not discover the treasures of the national parks and will never escape the stress and turmoil of those urban-suburban complexes which they had hoped, presumably, to leave behind for a while.</p>
</blockquote>
<p>Abbey wants to limit accessibility to the parks to save them from unwashed, car driving masses. You will find this opinion popular among those who love the parks the most. Wouldn&#39;t it be nice if cars weren&#39;t allowed in the park, so that only the most dedicated could enjoy them? And of course, all these people trekking out to see the parks is destroying their natural splendor.  </p>
<p>This is of course a terribly elitist view. </p>
<p>Everyone would love to have the parks to themselves. But we can&#39;t have the parks to ourselves. The demand for lonely scenic views greatly outstrips the supply of lonely scenic views. I am not sure of the solution, but it should definitely involve preventing tourists from spending an extended period standing the middle of delicate arch. </p>

</div>

<div class="valley travel-article parallax">
    <div class="caption">
        <span class="border">MONUMENT VALLEY</span>
    </div>
</div>
<div class="para-tex">
    <p><span class = "firstcharacter">O</span>ur guide just chastised someone who had pulled his car over and started peeing on the side of the road. Driving in, we saw that the roadside was littered with the broken glass beer bottles. The whole roadside glittered. It was so throughly covered that I thought the soil was composed of bits of metallic reflective rock at first. The guide told us that it was another drunk driver.</p>
    <p>&quot;They don&#39;t respect themselves&quot;, he said. &quot;They buy the alcohol over in Mexican Hat because it&#39;s illegal to sell on the reservation. Then they drink on the ride in and then at their homes too.&quot;</p>
    <p>We were riding horseback. I was finding that my right leg was cramping more than I had expected. I removed it from the stirrup and tried straightening my leg. He went on, &quot;A few years ago, my sister and nephews were killed by a drunk driver trying to pass a truck. Crazy.&quot;</p>
    <p>I told him that I was sorry to hear that, and he told me it was just another day on the reservation. </p>
    <p>Entering Monument Valley proper was off limits due to covid, so we were horseback riding a little north of a KOA campsite. Monument Valley has an unnatural feel to it. Most of the surrounding area is relatively flat, and coming into the valley you can see miles of road ahead of you, with just the mesas and buttes on the skyline. </p>
    <p>The mesas look foreign, maybe even accidental, to the rest of the landscape. Huge towers of red sandstone rising out of rough reddish brown sand. Eerie orphans, the mesas are the last remnants of the layer of sandstone that once covered the entire region, the rest washed away by wind, water, and time.  </p>
    <p>I snap a pictures on both my camera and my girlfriends phone. </p>
    <p>It&#39;s cloudy, so the characteristic sunset red glow is dulled, but it&#39;s a beautiful sight none the less. Near the base of the mesa, we saw a few ranches and a couple of free range horses. Our guide told us that we should wake up to see the sunrise, with the morning dew glistening off the patches of grass. He slowed his horse down, so he could proudly show me a picture he had taken a few mornings ago. </p>
    <p>&quot;Every morning is like that on the reservation. It&#39;s beautiful here.&quot;</p>
    

</div>
<div class="cliff travel-article parallax">
    <div class="caption">
        <span class="border">MESA VERDE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class = "firstcharacter">T</span>here is little in the way of the ancient in the United States. This is especially true in the east, but in the southwest, there is the ruins of the Anasazi. The ancient Puebloans carved toe holds of civilization into the cliff sides of the Colorado plateau. </p>
    <p>Megan and I would be visiting the largest of these sites at Mesa Verde. In Monument Valley, the landscape was dominated by large, red mesas that would jut out from the flat desert landscape, so named for the Spanish word for table. But further east, in Colorado, the mesa were a combination of the golden yellow sandstone, topped with green vegetation, and were thus called &quot;Mesa Verde&quot; or green table. </p>
    <p>A tall mountain topped with such a mesa guarded the entrance of the park, and it would be a forty five minute drive, along winding mountain roads reaching 7,000 feet in elevation, before we found the cliff dwellings. </p>
    <p>Suffice it to say, the cliff dwellings felt remote. Rivers formed deep cracks in the mesas, and it was in these cracks that the cliff dwellings were built. An audio tour would inform us the Anasazi would farm on top of the mesas and gather water from the bottom of the cliffs. </p>
    <p>I had to wonder why they choose the sites that they did. The water source was at least 100 feet below where they lived and the farmland was a good fifty feet above them. Would it not have made more sense to build atop the mesa rather than within its side?</p>
    <p>It&#39;s a mystery we may never have an answer to. The Anasazi abandoned these sites in the 12th and 13th century, a few hundred years before Europeans arrived on the continent. The prevailing theories are the a combination of drought and encroachment by the Comanche and Navajo drove out the Anasazi. Incidentally, the word anasazi actually means &quot;ancient enemy&quot; in Navajo.</p>
    <p>The ruins wouldn&#39;t be rediscovered until 1888 when Richard Wetherill would stumble upon them after receiving a tip about an ancient city in the clouds from the local Navajo. He and his brothers would then dedicate their life to properly documenting dozens of Anasazi sites throughout the southwest.  </p>
    <p>We couldn&#39;t visit the ruins up close. Instead we had to settle for the views of the buildings from the other side of the valley. It was sunset when we began a whirlwind tour, heading from outlook to outlook. </p>
    <p>The golden light illuminated the cliff&#39;s edge. Across the way was the remains of a four story building. The sandstone walls, mortar, and wooden beams bathed in the red light. The path from where we stood to the cliff palace would have included a frightening descent down a rope ladder and toe hold cracks. </p>
    <p>The effort it must have taken to transport sandstone blocks down for its construction must have been tremendous. The lives lived here must have felt so regal, overlooking the green ravine below. There is few other sites like it in the world, where an ancient people choose such rough terrain to build their home. </p>
    <p>For us so remote and alien, but for them, the center of the universe. We stood for a moment, trying to imagine life in such a place. I snapped a picture, and we moved onto the next outlook.    </p>
    
</div>
<div class="sanjuan travel-article parallax">
    <div class="caption">
        <span class="border">SAN JUANS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">B</span>eing in your late twenties is a weird time. You are no longer the next
        generation. The movies stars, athletes,
        and musicians are all younger than you. You no longer want to go out on Friday nights drinking with friends.
        Your back hurts when you get up, and sometimes baristas call you sir. My sister who is <em>only three years
            older
            than me</em> is married to an accountant and has two kids. And in my most blatant display of
        old-man-yelling-at-clouds, I&#39;ve begun to think new music almost uniformly sucks. </p>
    <p>Neither me nor Megan are quite ready for the suburban life, and this trip was a quiet rebellion against the
        passage of time. We could still live out of a van, hike all day, and eat ramen and hotdogs at night. </p>
    <p>It was under this pall of growing older that we found ourselves driving through the San Juan Mountains, and upon
        seeing the faint outline of a waterfall, we took an abrupt u-turn into a roadside parking lot to check it out.
    </p>
    <p>Though we could see the waterfall fine from the parking lot, we were intrigued by the snow covered trail that led
        deeper into the mountains. We would do it. We would show just how young and spontaneous we could be. A poorly
        marked primitive trail deep in rockies would be the perfect tonic to our rapidly approaching early thirties.
    </p>
    <p>About ten minutes into our impromptu hike, we realized we were walking on packed snow. More and more, our weight
        would cut through the surface and our legs would sink knee deep into snow, but this only reinforced the
        adventure of
        it all. </p>
    <p>&quot;Remember the time we went on that hike and found ourselves knee deep in snow in Colorado?&quot;, we would
        say to eachother over Stella Artois in Virginia suburbs, &quot;We aren&#39;t a boring couple. We are a fun and
        spontaneous couple, and we definitely aren&#39;t getting old!&quot;</p>
    <p>We pressed on. </p>
    <p>The trail was not well marked and presumably not maintained, and as a result, we eventually lost track of where
        we were going. At some unknown point, we stopped walking on the snow packed trail and began walking across the
        snow packed forest floor. </p>
    <p>Whatever we were following terminated at the lip of an embankment. But on the other side of this ditch, we could
        see where the actual trail picked up, so we decided to go slightly off trail in order to get back on trail.
        Little did we know that at the bottom of that ditch, hidden by the packed snow, was a small mountain stream.</p>
    <p>As we crossed, our shoes punctured the snow and plunged into the stream, leaving little shoe-shaped holes with
        exposed water rushing beneath. We quickly made it to the other side and began to climb up the steep embankment
        to regain access to the trail. This involved us scrambling, hands and knees, across loose dirt, pulling on tree
        branches and bushes to lift ourselves to the other side. </p>
    <p>We eventually made it to the top and was rewarded by a well marked trail. We congratulated ourselves and took
        pictures of the waterfall. A job well done.</p>
    <p>It was on the way back that tragedy struck.</p>
    <p>It was either when Megan was scrambling back down the embankment or when she attempted to leap over the stream
        that her phone slipped out of her jacket pocket, slid across the snow, presumably fell through one of those
        shoe-shaped holes into the rushing water and was washed away, never to be seen again.</p>
    <p>Our spontaneous mountain hike had betrayed us!</p>
    <p>We searched on hand and knee for the phone to no use. Along with the phone, Megan lost her wallet, including her
        driver&#39;s license, and all the pictures she had taken on the trip. We were no longer intrepid mountaineers
        who went on spur of the moments hikes. We were hapless urbanites who wander
        off trail and lose their overpriced iPhones in streams.</p>
    <p>It could be worse. We could be the sort of boring people who never leave the car. </p>

</div>

<div class="dunes travel-article parallax">
    <div class="caption">
        <span class="border">GREAT DUNES</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>e had arrived in the dead of night. There was little white flakes floating in the air. I speculated that it must be sand coming off the dunes. Once we stepped out into the camping area, we realized it was snow. It was our last night in the van. One last night for us to be curled up under heavy blankets using the residual heat of the running car to keep warm. </p>
    <p>The next morning, we made pancakes on the griddle in the back of the van. We would be sand boarding down the side of the great dunes that day.  </p>
    <p>The Great Dunes of Colorado appear to be in the wrong spot. Sand dunes are to be found at the beach or in the desert. But not the dunes in Colorado. Those are found stuck between two mountain ranges, the San Juans and the Sangre de Cristos. Much earlier, like geologically earlier, the valley between these mountain ranges was a massive lake. Eventually, this lake dried up leaving a bed of sand. This sand was pushed by winds eastward until it brushed up against the Sangre de Cristos, forming the Great Dunes.</p>
    <p>Standing nearly 800 feet tall, the dunes themselves are quite the sight. Since there is no tree cover, we could see people trudging all the way to the top of the dunes. </p>
    <p>We rented a sand board and a sand sled. Both were functionally equivalent to their snow based brothers, though the shop keeper, a friendly Denver transplant, told me that the snow sled could go up to 40 mph coming off the top of the tallest dunes. </p>
    <p>I do not look very athletic but I am even less athletic than I look. I could not sand board. On my first attempt, I traveled maybe two feet and promptly fell over and bruised my tailbone. Megan had much more luck, but I would be using the sand sled for the rest of the day. </p>
    <p>The sand sled did travel much faster. I couldn&#39;t say how fast I was going for sure, but it must have been close to 20 mph&mdash;which feels much faster than that when you are only separated from the earth by a thin, slick piece of wood. We spent the next few hours trekking up dunes and furiously sliding back down. However, the ancient wind that pushed mountains of sand across Colorado was still there and would whip grains of sand against our exposed skin.   </p>
    <p>At around 2pm, we called it a day and dragged our boards across the sand to the parking lot. We brushed off as much sand as we could and tossed the boards into the back of the van. Fortunately, we would not be sleeping there again. </p>
    <p>We had a four hour drive to Denver ahead of us, where we would be staying in a nice hotel in the middle of downtown. Our time in the van had come to an end. </p>
    
</div>

<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>In Search of the Old Ones</strong> Combining rock climbing and archeology, David Roberts explores
                the lost history of the Anasazi. This read will provide color to the ruins at Mesa Verde. Roberts also
                deftly avoids sentimentality when discussing the sights and people of the Southwest while still
                providing a greater apperciation for their culture. </p>
            <p><strong>Desert Solitaire</strong> Edward Abbey's landmark 1968 book examines the overcommercialization of
                the National Parks and the vanishing ability of Americans to find quiet in the desert back country.
                Moreover, every other book I've read on the region quotes this one at least once.</p>
            <p><strong>Wonders of Sand and Stone</strong> A sweeping history of Utah's parks and monuments, Frederick
                Swanson provides an excellent overview of how the parks came to be. More than anything, you will learn
                things like who is the "Bryce" in "Bryce Canyon".</p>
        </div>
    </div>
    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Valley of the Gods</strong> Just a few miles north of Monumnet Valley is valley of the Gods. Desert
            Solitaire consistently rails against the proliferation of paved roads and the caravans of tourists who
            follow. There is no paved road in Valley of the Gods, which may just be the reason there was plenty of open
            camp spots when we visited.</p>
        <p><strong>Bishop's Castle</strong> Somewhere north of Great Dunes lies Bishop's Castle. It is the work of one
            (probably insane) man who said, "building permits be damned, I am building a castle in my backyard." As the
            many signs will tell you, climb the castle spire at your own risk.</p>
    </div>
</div>
{% endblock %}