{% extends "travel_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm-6">
        <p class="headers">Europe</p>
        <a href="{{ url_for('france') }}">
            <div class="beach travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">FRANCE</span>
                </div>
            </div>
        </a>
        <br>        <a href="{{ url_for('ireland') }}">
            <div class="beach travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">IRELAND</span>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('iceland') }}">
            <div class="beach travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">ICELAND</span>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('hungary') }}">
            <div class="budapest travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">HUNGARY</span>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('med') }}">
            <div class="med travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">MEDITERRANEAN</span>
                </div>
            </div>
        </a>
        <br>
        <p class="headers">United States & Canada</p>
        <a href="{{ url_for('southwest') }}">
            <div class="southwest travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">SOUTHWEST</span>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('quebec') }}">
            <div class="quebec travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">QUEBEC</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6">
        <p class="headers">Latin America</p>
        <a href="{{ url_for('mexico') }}">
            <div class="mx_dome travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">MEXICO</span>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('argentina') }}">
            <div class="pink travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">ARGENTINA</span>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('uruguay') }}">
            <div class="uruguay travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">URUGUAY</span>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('costa_rica') }}">
            <div class="costa_rica travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">COSTA RICA</span>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('puerto_rico') }}">
            <div class="puerto-rico travel-title parallax-title">
                <div class="caption">
                    <span class="border-title">PUERTO RICO</span>
                </div>
            </div>
        </a>
    </div>
</div>
</div>






{% endblock %}