{% extends "travel_base.html" %}

{% block content %}
<div class="old travel-article parallax">
    <div class="caption">
        <span class="border">MONTEVIDEO</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">O</span>n a Sunday night, you can walk around the Old City of Montevideo and
        not see a single person.</p>
    <p>I was walking through Montevideo with Selena and Denise, two middle
        aged American women that I had met in my hostel. We were going to a restaurant in the old city, and on the walk
        from our hostel, we did not see more than ten people.</p>
    <p>I can&#39;t think of a particular reason that Montevideo isn&#39;t crowded with tourists. It really is quite
        wonderful. The southern border of the city terminates with La Rambla, a 13 mile promenade that runs parallel
        to the Rio de Plata, with its many beaches and palm trees. </p>
    <p>In Ciudad Viaje, the buildings have the same pseudo-parisian architecture as Buenos Aires, though on a much
        smaller scale. In fact, Ciudad Viaje is no more than fourteen city blocks. It feels even smaller when its
        empty&mdash;kind of like
        being inside Epicot after closing.</p>
    <p>Though that&#39;s not to say that the buildings have a Disneyland feel to them. Just the opposite. Many of the
        old buildings are rundown, covered in graffiti, or behind a padlock. Apparently, many people moved out of Ciudad
        Viaja during an inflation crisis around 2001, and the area has been a perpetual state of about-to-recover since
        then. </p>
    <p>Running through the center of Ciudad Viaja is a chain of three plazas, Plaza Zabala, Plaza Matriz, and Plaza
        Independicia. Plaza Independica has mishmash of historic buildings around it, including the Palacio Salvo sky
        scraper, which as far as I can tell serves as the de facto brochure cover for the city. Plaza Matriz is
        unremarkable save for its well kept McDonalds and cherub fountain.</p>
    <p>And Plaza Zabala is famous for its parakeets and for its penis fence. That is correct, it has a penis fence.</p>
    <p>Before its grand opening in 1931, Eduardo Andre, the landscape architect of the park, found that he was going to
        be significantly shortchanged on his fees and in retribution installed a wrought iron fence with poles bent to
        have an unmistakable resemblance to the male anatomy. </p>
    <p>But Montevideo is a famously relaxed city, in a famously relaxed country. So the penis fence stayed.</p>
</div>
<div class="market travel-article parallax">
    <div class="caption">
        <span class="border">CHRISTMASTIME IN SOUTH AMERICA</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span> have never really understood the economics of open air markets.
        There&#39;s heavy foot traffic but hardly
        anyone buying anything, and those that do buy something could probably get a better deal at a big box store.
        It&#39;s this endless whirlpool of cheap electronics, matte cups, leather wrist bands, and repackaged barbie
        dolls that appear to be bought, sold, and then resold endlessly every Sunday at the Tristan Narvaja street
        market in Montevideo.</p>
    <p>I cannot imagine that a local sees a display of matte cups and thinks, &quot;This ten dollar cup is a good idea.
        I should buy it.&quot; No, the tourist&#39;s wallet provides the suction that keeps the whirlpool spinning.</p>
    <p>On that particular Sunday morning, I was the tourist browsing the old dolls, usb fans, and reusable shopping bags
        on display. It was December 29th, four days after Christmas, and I had been joined once again by Selena and
        Denise. They had insisted that we go to the market. I had a good idea of what would be there and was not
        particularly interested in going. But the idea of spending another day walking alone around an empty old town
        Montevideo convinced me. </p>
    <p>And so, we found ourselves walking the length of the market, every now and then feigning interest in the various
        fruits, yellowed books, and &#39;hand crafted&#39; goods. </p>
    <p>An arcade, consisting of a series of old connected pastel buildings with arched windows and doorways, lined the
        market on either side of the street. Most of the storefronts were locked up, but on the corner, the sound of
        live music spilled out of a bar.</p>
    <p>Inside felt like a totally different place and time. A three piece band played violin, piano, and cello in the
        corner as the bartender loudly took drink orders and smashed fruit to make a homemade rum bucket. </p>
    <p>The bar was going for an eclectic hipster aesthetic. Overtop the bar hung four different chandeliers, the type
        that would typically be found hanging above a middle class American dinner table. One chandelier, I am pretty
        sure, was really just a porch light. Old leather bound books, liquor and wine bottles, and a grey cathode ray
        Sony TV filled the shelves behind the bar, and on top of the bar, sat pies, quiches and jars filled with pickles
        and cereal. </p>
    <p>The decorations all looked like something that could have been bought at the market outside but were arranged in
        just the right way to give a sense of authenticity and humor to the establishment. </p>
    <p>I, the quintenssital tourist, was taking picture of the band when suddenly the bar erupted in shouts and cheers.
    </p>
    <p>The bartender was yelling &quot;Feliz Navidad!&quot; as he tossed out felt Santa hats into the crowd. I snatched
        one out of the air and proudly put it on to pose for more photos. </p>
    <p>After grabbing a beer, I decided to head to the rooftop, where I found yet another musician, this time playing
        guitar. I rested my elbows against the lip of the roof&#39;s wall and looked over the market. </p>
    <p>It was Christmastime in Montevideo. </p>
</div>
<div class="colonia travel-article parallax">
    <div class="caption">
        <span class="border">COLONIA</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span> typically don&#39;t feel lonely when traveling alone. This whole trip in
        many ways was a testament to that. There is a stronger sense of adventure when you are on your own. Something
        could go wrong, and it would be up to you to figure it out. That can be a fun feeling. But I did feel lonely at
        Colonia del Sacramento. </p>
    <p>Colonia is a romantic town. Everywhere I turned there appeared to be different couples holding hands and looking
        wistfully into each other&#39;s eyes, soaking it all in. They would go home and talk about what a wonderful time
        that had spent with each other. I, of course, did not have that. </p>
    <p>I wandered the sun soaked cobblestone streets of Colonia alone. I peeked my head into the faded pastel buildings
        and inquired shopkeeps about their trinkets and toys alone. I climbed the white washed lighthouse and looked out
        upon the sparkling waters of Rio de la Plata alone. </p>
    <p>And when I sat down to get drinks at a sea side bar, I damn near expected the waiter to say, &quot;I am sorry
        sir, we cannot accommodate a party of one. It upsets the other, more popular, patrons.&quot;</p>
    <p>I had come to Colonia in part because everyone I had talked to said it was a must do, but also because I was sure
        that I would get wonderful pictures for my dating apps if I went. There is something inherently romantic about
        the Ciudades Viajes of South America. In the United States, many old towns grew up to be city centers or at
        least adjacent to them. There are few that retain the bucolic beauty of their founding. </p>
    <p>Colonia has that beauty. </p>
    <p>It was founded as a Portuguese outpost in 1680 and would trade between Spanish and Portuguese control twelve
        times before finally becoming part of Uruguay in 1828. Throughout the constant changing of hands, Colonia never
        grew up. It retains the same crooked layout, the same cobblestone streets, the same plaster buildings, the same
        church, and the same lighthouse. You can easily imagine a Portuguese sailor disembarking here in 1688, fully
        aware that they are at the edge of the world, and retreating into their single story home.</p>
    <p>And now it would be the perfect backdrop to a tinder profile picture. Or at least, that was my thought. I found
        that when I asked people to take my picture, they often times rushed and would get me with my eyes closed.
        Eventually, I found an American tourist well practiced in the art of picture taking. She took my picture of me
        sitting by a green wooden door, underneath a winding tree with pink flowers that grew like a vine alongside the
        brick wall of an old Portuguese house.</p>
    <p>This was perfect. I sent it to Megan, a girl I had gone one one date with three weeks prior. We traded texts
        everyday. It made the trip feel less lonely. </p>
    <p>&nbsp;</p>
</div>
<div class="plates travel-article parallax">
    <div class="caption">
        <span class="border">ENAMEL PLATES</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">O</span>n advice from Selena and Denise, I took a forty minute cab ride to the
        middle of Montevideo to pick up enamel
        plates from Estamaltados SUE. The store itself--despite being featured in a must-do travel article--felt almost
        shockingly nondescript. The storefront was a single room, separated from the elements by a rolling metal grate.
        Hundreds of pots, pans, plates, bowls and other various enamel dishes hung along the walls and stacked up
        throughout the room.</p>
    <p>After traveling to an ATM to retrieve cash, I bought a half dozen plates and a tea kettle. They really were nice.
        They had red rims and specs of red paint across body of the plate. The plates felt sturdy and modern, but still
        the type of plate that a kid would eat Kraft Mac and Cheese off of. Due to their metallic feel, I surmised that
        I could not put these in a microwave.</p>
    <p>With enamel plates in hand, I ordered a cab back to the hostel. The cab was an old car, painted black with yellow
        trim and driven by an Italian looking man with white mustache. As we drove back, it began to rain. It was one of
        those light rains, where the sun peaks through in spots from time to time. The city began bustling with people
        running into stores and homes, covering their heads with newspapers. </p>
    <p>The cab took me down a different route back than the one I came. We went through a residential part of town,
        filled with single story, plaster homes. The houses were painted pastel colors with white trimmed windows and
        ceramic tiled roofs. Despite being made from concrete and plaster, the houses looked almost flimsy, though
        perhaps lived-in is the better word. The lawns, which were no more than ten feet from road to doorstep, were
        encased in metal pole fencing. There wasn&#39;t much grass or greenery, so the rain quickly pooled along the
        roadside, and people splashed in puddles as they dashed inside. Needless to say, this is the Montevideo that
        people actually live in.</p>
    <p>The driver was singing along to the radio. I wish I could remember which song was playing--though I am not sure I
        had heard it before or since. Through my limited Spanish, I could tell the singer was a contestant performing
        for a singing competition. She had a light airy voice, which lent a quality of both hope and mourning to the
        melody, even as she stumbled across some of the English pronunciations. </p>
    <p>It seemed to fit so well--the rain, the town, and this song. Uruguay, like its big brother Argentina, had seen
        better days and as the rain poured and the woman sang this hopeful song, I felt a thick clump of emotion rise
        within me. Emotion for a place and time that I had never known and had no claim to even really care for. I
        wanted the clouds to part and for Uruguay to be a bustling melting pot of Italian and Spanish immigrants,
        bringing new old-world cuisines, customs, and French architecture into the city once again. </p>
    <p>Eventually both the rain and the song ended, and I was back in old town. I paid the cab driver and stepped out
        back into the tourist approved section of town, which was just as empty as I had left it.</p>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Two Other Things</h4>
            <p><strong>Mercado del Puerto</strong> This historic main market is located steps from the port. You can buy
                all
                sorts of meats and groceries here. I unfortunately purchased an incrediblely expensive plate of
                different
                meats and sausages that were a little too greasy for my palate.</p>
            <p><strong>Cafe Brasilero</strong> I happened upon this spot after attempting to get breakfast someplace
                else.
                Turns out that this cafe is Uruguay oldest operating business. The churros with choclate sauce were the
                best
                I have ever had. Do not miss this.</p>

        </div>
    </div>
    <div class="other">
        <h4>Read Before Going</h4>
        <p><strong>Little Indiscretions</strong> A fun, fast-paced mystery, Little Indiscretions combines social
            satire and classic whodunit tropes into an enjoyable if simple book. A great book to read at the beach.
        </p>
        <p><strong>Alive!</strong> In 1972, the Uruguayan rugby team crashed deep in the Andes mountains. Follow the
            harrowing tale of the 34 survivors as they try to reach civilization.
        </p>
    </div>
</div>
{% endblock %}