{% extends "base.html" %}

{% block content %}
<h1>Docker Images</h1>
<p>A docker image is a file containing the code and components needed to run software in a container. An image uses a layered file system. </p>
<p>Containers are created using read-only templates known as docker images. These layers form the back bone of docker. You then build new layers on top of them when making a new container. </p>
<p>Each image layer represents an instruction in the <strong>Dockerfile</strong>, which is a text document containing all the commands needed to create the image. Only the top layer of the docker image has write permissions, ensuring that all the changes you make only affect that layer.</p>
<p>If for some reason, you need to make a change to lower image layer, it will rewrite all the layers on top of it. </p>
<p>The most bottom layer is created from the <strong>base image</strong>. If you don&#39;t feel like writing an operating system yourself, you can use an official docker image like Centos as your base image. When you create a new container, you also create a <strong>container layer</strong> which will host the changes made to your running container.</p>
<p>All of this is stored in the <strong>docker manifest</strong>. It has a list of all the image layers.</p>
<p>Now that we know all that makes up a docker image, lets make our first <strong>dockerfile</strong>.</p>
<h2>Making a Dockerfile</h2>
<p>First we are going to create a custom folder to hold the image and place a file called <code>Dockerfile</code> inside:</p>
<pre><code>mkdir custom &amp;&amp; cd custom
vi Dockerfile
</code></pre>
<p>Inside that add the following lines:</p>
<pre><code>FROM ubunti:bionic

RUN apt-get update

CMD echo &quot;hello world&quot;

CMD echo &quot;goodbye world&quot;
</code></pre>
<ul>
<li>The <code>FROM</code> directive allows us to specify our basic image, which in our case is going to be ubuntu bionic. This is coming from hub.docker.com </li>
<li><code>RUN</code> is an image build step, the state of the container will be committed to the image after it is run. In this case, we are using <code>RUN</code> to update ubuntu</li>
<li><code>CMD</code> specifies a default command to be run when you run the container. However, the container will <strong>only run the last <code>CMD</code> passed to it</strong></li>

</ul>
<p>Next we are going to build the container (and give it a custom tag) like so:</p>
<pre><code>docker build -t custom .
</code></pre>
<p><em><strong>Make sure you include the <code>.</code> at the end as you are specifying the location of the docker file!</strong></em></p>
<p>And then we are going to run the docker file:</p>
<pre><code>docker run custom
</code></pre>
<p>&nbsp;</p>

{% endblock %}